[2018-05-01 14:18] #837 closed

[2018-05-01 17:51] bhavyata9 commented on #286
What are the props passed to renderComposer?

[2018-05-02 03:18] hoangvuanhdevelopervn opened #846 "Can not run example"
I follow this in example

**# Run the example**
_git clone https://github.com/FaridSafi/react-native-gifted-chat
cd react-native-gifted-chat/example
npm install
react-native run-ios_

but when run npm install it's error and remove all file in example folder like this:

<img width="1440" alt="screen shot 2018-05-02 at 10 16 54 am" src="https://user-images.githubusercontent.com/29293495/39503822-13e

[2018-05-02 07:36] Thanmai-C commented on #846
Try removing the .babelrc file in the folder, and then run react-native run-ios

[2018-05-02 10:32] hoangvuanhdevelopervn commented on #846
@Thanmai-C thank you, i will try. I have one more question: How can attach file in the conversation, like doc, text, mp3, video....? How to do that?

[2018-05-02 11:08] Thanmai-C commented on #846
I am not sure, think it is not implemented you have to do it.

For the above mentioned issue, you can try yarn install instead of npm install.
Refer: https://github.com/FaridSafi/react-native-gifted-chat/issues/588

[2018-05-03 03:58] hoangvuanhdevelopervn commented on #846
@Thanmai-C Thank you.

[2018-05-03 04:50] praba1989 commented on #720
Hi @jamesedmonston I didn't try but Can you try to customize the "renderBubble" like return <Video>....

[2018-05-03 05:57] hammadj commented on #766
@jackmatrix how did you fix the disappearing view on android?

[2018-05-03 12:31] rkzhap123 opened #847 "Send button works after I touch several times...."
#### Issue Description

If I touch Send Button, onSend props works after I touch several times....

#### Steps to Reproduce / Code Snippets

[code]

#### Expected Results

[FILL THIS OUT]

#### Additional Information

* Nodejs version: [FILL THIS OUT]
* React version: [FILL THIS OUT]
* React Native version: [FILL THIS OUT]
* react-native-gifted-chat version: [FILL THIS OUT]
* Platform(s) (iOS, And

[2018-05-05 01:43] cassioseffrin opened #848 "How to notify the user when a new message is sent to your account"
#### Issue Description
I want to figure out how a REST server can notify the clients when a new message arrive. I have saw in ChatApp https://github.com/FaridSafi/ChatApp/blob/master/src/Backend.js the method that retrieves the messages from the Backend. However in my case the server will be with a REST SpringMVC.

I have tested this flow:
1. One user sent a message to another through of REST serv

[2018-05-05 23:47] selfeky commented on #775
did you find a solution?
@yoonzm @isthaison @hakuj

[2018-05-06 01:48] cassioseffrin commented on #848
I am answering my own question. Maybe it can help someone else. I read a lot of material comparing Server-Sent Events VS websocket. I choosed to go forth with websocket.
Basically I have installed the 2 packages: sockjs-client, react-stomp and made a correction in
node_modules/sockjs-client/lib/transport/browser/abstract-xhr.js line 76
    from:     this.xhr.withCredentials = 'true'
    to     :

[2018-05-06 17:40] AngSin commented on #75
@8enmann did it work for you? I am facing this problem with version 0.4.3

[2018-05-06 17:54] Simwenya commented on #738
how do you connect giftedChat  to mysql

[2018-05-07 04:31] AngSin commented on #75
@8enmann , thanks for the quick reply, but it's fine it worked for me by changing `bottomOffset` to the total height of the window - height of the area below the GiftedChat (for e.g. a tab navigation or some other component) :)

[2018-05-07 06:48] aggounix opened #849 "giftedchat with firebase"
#### Issue Description

I am using gifted chat with firebase database. I get messages on loading but when  someone write something to me, i get duplicated messages (for expamle i get the olders messages twice displayed onn messages list)

#### Steps to Reproduce / Code Snippets

I use the event : on("value", snapshot) to append new messages to the list
when I use on ("child_added, snapshot) it get

[2018-05-07 11:41] rzdev opened #850 "Lag when there are a lot of messages"
#### Issue Description

Noticeable lag when there are a lot of messages and multiple sender.
is this to be expected or am i doing something wrong?

#### Steps to Reproduce / Code Snippets

send a lot of message from multiple sender

#### Expected Results

Minimum lag

#### Additional Information

* Nodejs version: 6.11.0
* React version: 16.0.0-alpha.6
* React Native version: 0.44.2
* react-native

[2018-05-08 10:09] rzdev commented on #840
@Suraj-Tiwari Thanks so much for this, i have this problem too.

My issue on Lag
https://github.com/FaridSafi/react-native-gifted-chat/issues/850

[2018-05-08 10:12] rzdev commented on #850
Found 2 ways to speed things up:

1. this https://github.com/FaridSafi/react-native-gifted-chat/issues/840 fix the issue with typing lag
2. on GiftedChat.js, line 88 change from

`return inverted ? messages.concat(currentMessages) : currentMessages.concat(messages);`

to

`return inverted ? [...messages,...currentMessages] : currentMessages.concat(messages);`

[2018-05-08 14:30] alexgnatrow commented on #730
![screen shot 2018-05-08 at 5 28 58 pm](https://user-images.githubusercontent.com/22867443/39763277-55fc7df4-52e5-11e8-8865-811862336bbc.png)
Same here. not a network issue, obviously))
could not find comprehensible guide how to customize avatar...

[2018-05-08 14:45] Fed0t opened #851 "focusTextInput() - Imperative methods"
#### Issue Description

focusTextInput() - Open the keyboard and focus the text input box

how should i use focusTextInput();

And second issue is  that I need TextInput reference for my KeyboardAccessoryView ! a callback for ref textinput will be perfect!

[2018-05-09 10:58] #851 closed

[2018-05-09 11:57] rizeon commented on #849
It is up to you to handle data that comes in to GiftedChat, not other way round.

I personally use Firebase + Redux + Gifted Chat, I am not too 100% happy with this lib but overall it works.

In Chat container on componentDidMount I retrieve messages from firebase.
Then I dispatch it to redux store handling potential duplicates in reducer.
( Because we get objects with keys from firebase and not a

[2018-05-09 12:07] melihmucuk opened #852 "Bottom offset between InputToolbar and keyboard"
#### Issue Description

<img width="367" alt="screen shot 2018-05-09 at 14 59 13" src="https://user-images.githubusercontent.com/3147488/39813596-bbb01f20-5399-11e8-8727-ce82deeaceb2.png">

#### Steps to Reproduce / Code Snippets

[code]

#### Additional Information

* Nodejs version: v9.2.1
* React version: 16.0.0
* React Native version: v0.51.0
* react-native-gifted-chat version: v0.3.0
* Platfo

[2018-05-09 21:29] aggounix commented on #849
Thx for the answer, I found this project and helped me a lot : https://github.com/FaridSafi/ChatApp
this was very useful
By the way do you know how to add messages when the app is closed (meaning doing notfications and adding not read messages)

[2018-05-10 00:26] LorienHW commented on #852
I see the same issue in v0.4.3 using the sample code from the readme:
[code]

[2018-05-10 08:31] rizeon commented on #849
I haven't got to that part yet however I would suggest not reading/writing any data when app is closed.
IMO it is much better to do notifications and only read new messages when app comes into foreground.

I personally do not use Expo however I see there is some Expo solution for notifications, read up on it, there should be some payload possible with notification so you can act on it in your app

[2018-05-10 14:18] heyv5 opened #854 "About the pull down the page to load more content"
Can the react-native-gifted-chat component support the pull down the page to load more content?

[2018-05-11 01:00] PvanHengel opened #855 "Mentions / autocomplete"
Hi there,  this library is awesome!  I was wondering if there is a way to do mentions or type ahead when entering a message, obviously we can parse and display after the message is written but would like a way to at least mention users with the @ sign simmilar to how this form works on github or slack.  Any pointers to an example would be great!

[2018-05-11 08:52] aggounix commented on #849
I am using Expo, and I found a tutorial to use FCM with expo notifications
By the way how to get the missed messages when app comes into foreground from the firebase database
Do you keep a list of unread messages in the users nodes until he opens the app, or just keep the last message id read by the user and get messages beginning from this id ?
please advise

[2018-05-11 09:13] rizeon commented on #849
IMO there are two main, simple options.
You can mark messages as displayed (read) handling it in chat component (for example using https://reactjs.org/docs/react-component.html#componentdidupdate updating in Firebase )

Or make it really simple and always show newly loaded messages as 'unread' (for example Bolded ) - that would work for user's single device.

That really depends on your exact requ

[2018-05-14 04:02] augmen opened #857 "Firebase integrations"
how to integrate with firebase ? is it production ready ? whats the message transporter have you used socket ?

[2018-05-14 06:17] nonotest commented on #855
I have looked around a little and ended up rolling my own..
lots of regex work though and a bit messy.

Anyway following if someone finds a good library !

[2018-05-14 17:46] ChrisEdson commented on #750
Hey @mafiusu, I’m trying to hack this together myself. If you could share the code, that would be incredible!

[2018-05-14 18:08] derekbrown commented on #718
For anyone looking at this issue: it's caused by React moving `PropTypes` out of the React library. You need to import the `prop-types` library.

https://www.npmjs.com/package/prop-types

[2018-05-15 05:56] uiBing commented on #850
@rzdev 谢谢提供修复方案，但我修改了这两个地方，还是没有效果。
请问还有其他解决方案吗？

Nodejs version: 8.9.4
React version: 16.3.1
React Native version: 0.55.3
react-native-gifted-chat version: ^0.4.3
Platform(s) (iOS, Android, or both?): Android

[2018-05-15 11:00] melihmucuk commented on #852
@LorienHW didn't work for me.

[2018-05-15 12:00] Suraj-Tiwari commented on #850
@uiBing Can you show us your modified code???

[2018-05-15 17:01] LorienHW commented on #852
@melihmucuk could be its working different in version v0.4.3 than in v0.3.0. You could try upgrading to the latest version, or look for a similar property/feature in the version you are using. If you look inside of the gifted-chat module for the code that is handling the onKeyboardWillShow/onKeyboardDidShow events you can see the code that is calculating how to adjust the chat view offsets when th

[2018-05-16 10:48] brzonsea opened #858 "Wrong assignment of previousMessage and nextMessage when inverted prop is false"
I created an issue about a buggy Day headers when `inverted` prop is set to false back in #789.

This was fixed by #810 , but it seems the fix has some other issues.

For example, when I set `renderAvatarOnTop` for the `Avatar` component, the avatar is instead rendered at the botttom.

This is because the current code does not switch the assignment of `previousMessage` and `nextMessage` when it fi

[2018-05-16 14:24] arayaryoma opened #860 "Deprecation warnings"
#### Issue Description
React's life-cycle methods: `componentWillMount()` , `componentWillReceiveProps` , `componentWillUpdate` will be deprecated on v16.3.
Because the latest version of React Native depends to React v16.2, a few warnings will be displayed when I use GiftedChat component.
Do you have any plan to solve those warnings?
The deprecated methods are used at
- https://github.com/FaridSaf

[2018-05-17 07:44] tranvannhat commented on #738
thanks bro. Closed

[2018-05-19 06:34] SriramcgXelpmoc commented on #211
Any new feature in latest release for this ?

[2018-05-19 07:29] jaaberg opened #862 "Random caps-lock when writing messages"
#### Issue Description

Recently, when writing messages, the text input has been acting like crazy, and swtiching between caps and non-caps characters at totally random times when writing.

Edit: Found the source: iOS automatically caps the next character after an `.`, `?` etc. But if the last sign of your message is `.` or `?`, and you jump back and tries to edit already written text, it gets con

[2018-05-19 21:42] mypark opened #863 "Not rendering new updated messages when using a redux property for messages"
#### Issue Description

Not rendering new messages when using a redux property for messages.  It renders the initial set of messages fine, just not the new ones.

#### Steps to Reproduce / Code Snippets

1. set messages to reference a redux connected property `this.props.messages` instead of `this.state.messages`
2. send new message with a redux flux action -> update store -> triggers render again

[2018-05-19 21:52] khurramriaz opened #864 "Re render existing bubble on message update"
#### Issue Description

I implemented renderBubble props to render my own message bubble. on press send button current message added to messages array (GiftedChat append). current message has the property delivered to false and after succcess response from server of sending message. I am updating delivered property to true. Based on this (delivered) property I am showing an icon in message bubble

[2018-05-20 14:02] mypark commented on #863
it was an issue with my reducer - mutating state.messages when i needed to clone state.messages before updating.

[2018-05-20 14:02] #863 closed

[2018-05-22 11:20] 6axter82 opened #866 "User Name style"
#### User Name style

Is there any way to change the style of a user name?

If the name of the user is toooooooo long, I want to be able to truncate the name with `...` and put some horizontal padding into it.

[2018-05-22 12:09] jaaberg commented on #862
After some digging, it seems like this is a react-native issue with controlled `TextInputs`. I've created an issue there as well.

https://github.com/facebook/react-native/issues/19389

[2018-05-22 12:26] PanRu commented on #666
Same issue, and set inverted = {false} not work.
The solution in #626 worked, but it need to modify the source package, not what I wanted.

[2018-05-22 18:58] pdoggi commented on #826
@watadarkstar Love this idea, how can I help complete this feature?

[2018-05-23 09:15] ewal commented on #801
I do not believe that you need to use Gifted chats append method for achieving what you're after.
Personally I do something like this to append new messages to the message array:

[code]

[2018-05-23 09:55] Waltari10 commented on #840
Same here! I don't understand though why this is fixing the problem. 🤔 Isn't this the exact way that react-native recommends doing TextInput? How can it slow down Android?https://facebook.github.io/react-native/docs/textinput.html

[2018-05-23 10:32] Waltari10 commented on #840
Possibly related issue: https://github.com/facebook/react-native/issues/18916

[2018-05-23 14:47] rochapablo opened #867 "How to attach"
This is actually a question;

I would like to know if there's any example about file upload. [Here](https://github.com/FaridSafi/react-native-gifted-chat/tree/master/example-slack-message) I see the button but I couldn't figure it out how to code it. Also in the README says `Composer actions (to attach photos, etc.)` but no detail.

So... anyone?

#### Additional Information

* Nodejs version: 8.1

[2018-05-24 22:37] shaheem-khanzada opened #870 "How to check message status is seen in chat"
i wanted to check message status how can i implement this idea ?

[2018-05-25 00:55] theorytank commented on #852
I've been facing this for weeks now.  Just realized today that the issue isn't Gifted Chat (for me anyway).

Are you using native-base?  Are you wrapped in a <Content> container?

Try setting <Content enableAutomaticScroll={false}> and see if that fixes your issue.

The problem is the two components are "helping" each other by shifting the view upwards to compensate for the keyboard.  Note, that <

[2018-05-25 05:42] HyuArzani opened #871 "[IOS] TextInput composer multiline get pushed up on keyboard show"
#### Issue Description

I use default render InputToolbar of gifted-chat

``<GiftedChat
 messages={this.state.messages}
                    onSend={messages => {
                        this.handleSend(messages[0].text);
                    }}
                    multiline={true}
                    textInputStyle={{
                        justifyContent: 'flex-start',
                        ali

[2018-05-25 08:05] HyuArzani commented on #871
ok i think the problem is with IQKeyboardmanager ios, IQKeyboardManager create space in native keyboard when pop
close

[2018-05-25 08:05] #871 closed

[2018-05-25 18:44] MeKyleH opened #872 "Can't display images when using Redux"
#### Issue Description
I'm using redux so I can save my messages in a database and load them between multiple users and multiple sessions. My GiftedChat component uses a custom onSend function that stores the messages in the database. However, I can't ever get an image to be added to the messageText.

As you can see the from the log below the image never gets added to messageText so it isn't ever

[2018-05-25 21:42] MeKyleH commented on #872
I was able to resolve this issue by switching from using onSend as a prop in the <GiftedChat> component to using a custom renderSend method and recreating the message. I'm able to add images to the messages now as well, but I can't display the image before the message is sent though. If anyone has any thoughts that would be helpful.

[2018-05-26 08:43] king804 opened #873 "tap event for message's list"
How to handle optap event for message view ?

Because i design emoji picker is pop up like keyboard.

i want to hide the emoji picker when user tap the message list anywhere

[2018-05-26 08:45] king804 commented on #873
<img src="https://upload.cc/i1/2018/05/26/Uj8Inc.png"></img>

[2018-05-26 12:51] bamne123 commented on #818
I am also getting jumping effect but without SafeAreaView, may be issue with library.

[2018-05-26 12:52] bamne123 commented on #817
Do we have example to show username except Slack example.
Slack example, is the only way to show Username?

[2018-05-26 21:37] MeKyleH opened #874 "InputToolBar spacing on iPhoneX"
#### Issue Description

There is an issue with iPhoneX where you either have the message that you are typing overlap with the bottom bar and can't see all of your text, or if you add a marginBottom you overlap with the avatar from the most recent message.

Here is some text entered into the text box:
![simulator screen shot - iphone x - 2018-05-26 at 14 33 07](https://user-images.githubusercontent

[2018-05-26 21:40] MeKyleH commented on #874
I was able to fix the overlap by adding marginBottom: 5 to Avatar.js styles.left.container on line 73. I don't know if other people are having this problem as well.

[2018-05-28 09:17] hegelstad commented on #828
@FaridSafi can you fix this? the source code is correct but its not included in the npm release.

[2018-05-28 09:22] hegelstad commented on #385
Need this as well.

[2018-05-28 09:42] hegelstad commented on #181
If somebody is stuck with `Inverted` prop not working, remember to refresh app/remount component.

[2018-05-28 12:25] 12343954 opened #875 "ImageMessage：how to zoom in and click image to close lightbox ?"
#### Issue Description

how to customize the ImageMessage to zoom in and click image itself to close the lightbox？

thank you so much !

#### Steps to Reproduce / Code Snippets

![wechatimg13](https://user-images.githubusercontent.com/1804003/40614279-e0812f4a-62b4-11e8-8f7d-804574efeff9.jpeg)

#### Expected Results

[FILL THIS OUT]

#### Additional Information

* Nodejs version: v8.2.1
* React ve

[2018-05-28 19:08] fbartho opened #876 "Feature Idea: ship the TypeScript types for this project"
#### Issue Description

Currently the package.json for this repo gets modified when deploying to NPM.

In GitHub, it has a `"types": "index.d.ts"` entry, but in npm, it does not include this file.

#### Steps to Reproduce / Code Snippets

1. Using npm/yarn, Install react-native-gifted-chat
2. Diff package.json in node_modules with package.json on GitHub.
3. Notice how the types line is gone, and n

[2018-05-28 19:14] fbartho commented on #876
Accidentally duplicated #731

[2018-05-29 20:15] ewal commented on #777
@gianpaj, I just figured it out. Bind the function to a property function in your component class like such:
[code]

I use Redux for managing the state, but I guess the above will work. Otherwise, try Redux :)

[2018-05-30 04:17] 12343954 opened #878 "Temporary solution of “GIF” message（display or upload）"
#### Issue Description

CameraRollPicker doesn't return the gif's original path，so，you can't display the gif with <Image/>, or upload it to server end.

#### Steps to Reproduce / Code Snippets

**solution：**

use **“react-native-image-picker”** instead of **“react-native-camera-roll-picker”**

https://stackoverflow.com/questions/50588672/react-native-cameraroll-getphotos-gif-uri-no-animation-why

[2018-05-30 07:11] ewal commented on #874
@MeKyleH, just out of curiosity, do you wrap GiftedChat in a SafeAreaView?

[2018-05-30 07:46] ewal commented on #857
Integrating with a service such as Firebase or Pusher is not in the scope of this project. That part you have to figure out on your own 😄

[2018-05-30 10:10] userbq201 commented on #836
+ 1
update bug pls

[2018-05-30 12:14] ewal commented on #777
The solution I used is to override the `renderSend` combined with controlling the `text` property with `onInputTextChanged`.
[code]

Now it's up to you to clear the input field after each send.

[2018-05-30 12:17] hanarahmati commented on #172
@himanshukk81 Hi, How do you did this?

[2018-05-30 19:08] MeKyleH commented on #874
@ewal I wasn't wrapping it in a SafeAreaView. However, after adding that it resolved the strange artifact with the text not displaying correctly when typing. Thanks so much!

[2018-05-30 19:08] #874 closed

[2018-05-30 20:01] ewal commented on #874
Awesomeness 😄

[2018-05-30 20:14] ewal commented on #777
@gianpaj, hope it helps! Just ping me if you want a complete code example. Otherwise, maybe we could close this issue?

[2018-05-30 21:30] #777 closed

[2018-05-31 05:18] augmen commented on #857
is it full stack ?

[2018-05-31 07:04] ewal commented on #872
The image prop is just a string. You are passing an object in your example. And the image should be attached to each message, not the GiftedChat component.

[2018-05-31 08:54] giantss commented on #39
@FaridSafi Alas, this is actually a basic function that can greatly improve the user experience.

[2018-05-31 09:18] ewal commented on #857
I suggest that you start reading this article https://firebase.googleblog.com/2016/01/the-beginners-guide-to-react-native-and_84.html.

Other resources:
https://rnfirebase.io/
https://github.com/invertase/react-native-firebase

[2018-05-31 22:20] #872 closed

[2018-06-01 01:06] pdoggi commented on #826
@watadarkstar I'm sorry I didn't see your message earlier! I would love to work together on this! The best way to reach me is via email and phone. What's a good way to exchange contact information?

[2018-06-01 14:26] 6axter82 opened #880 "Can someone try on their side to send a really huge text message, like 10k characters. What is the outcome?"
#### Issue Description

Can someone try on their side to send a really huge text message, like 10k characters. What is the outcome? When I have a lot of text in the message, the render method of the message is giving a weird result:

IOS: it is with a blue bubble but no text in it:
![screen shot 2018-06-01 at 15 59 34](https://user-images.githubusercontent.com/13738101/40844664-d9ba1b24-65b4-11e8-

[2018-06-01 14:27] 6axter82 commented on #880
Try this text in your example:

Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciun

[2018-06-02 09:08] PrimeTimeTran commented on #672
Hey guys, I've been struggling with understanding what you guys mean.

Could you please help me out a little bit more?

This is what my Gifted Chat looks like.
[code]

There are the two helper functions. I'm not sure how to use them in order to pass each individual bubble a color in order to get a distinct color. Please advise.
[code]

[2018-06-04 07:32] ruk91 commented on #850
I had the same issue and I was able to fix by commenting the line
```value={this.props.text}``` in Composer.js

[2018-06-04 08:01] sirawat93 opened #883 "Android nav bar disappear when keyboard up (react-native-navigation)"
Nav bar disappear when keyboard is on in Android.

<img width="343" alt="screen shot 2018-06-04 at 2 52 49 pm" src="https://user-images.githubusercontent.com/6262268/40905399-05668a82-6808-11e8-939e-b1fcb15329eb.png">

<img width="346" alt="screen shot 2018-06-04 at 2 53 38 pm" src="https://user-images.githubusercontent.com/6262268/40905408-112dc04c-6808-11e8-9f57-59b1e21deb48.png">

* Nodejs vers

[2018-06-04 08:46] bastolaxantos opened #884 "How to delete a already loaded chat bubble?"
I am loading the chat from my own server. I managed to put a delete option which appear on long pressing
chat bubble. I want to remove that bubble from screen when user deletes it. How can i achieve it?

[2018-06-04 09:28] emilkarl opened #885 "Inline images in message?"
#### Issue Description

Trying to get inline images in messages to work. Adding a separate pattern and `renderText` function. But they end up in the same line as the text. I would like them to be on separate lines and split the text.

It also never replaces all occurrences of my pattern, just the first one?

![image](https://user-images.githubusercontent.com/10711/40909559-25493534-67ea-11e8-8861-

[2018-06-04 12:14] aspidvip commented on #850
this is work! good!!!

[2018-06-04 16:09] jameshuynh commented on #672
Hey Loi,

Inside renderBubble function props, you could actually get the currentMessage and its user, then you could decide on the color of that bubble like below:

[code]

[2018-06-04 18:15] lucasbento commented on #876
I believe it's because there has been no release after https://github.com/FaridSafi/react-native-gifted-chat/commit/7232ac023e11068b4eb7ae1ed72e848914ddf786.

cc @xcarpentier, would you be able to release a new version? I'm looking forward for the types as well.

[2018-06-04 18:20] fbartho commented on #876
@lucasbento: https://github.com/FaridSafi/react-native-gifted-chat/pull/877 I also made some fixes to the types, I’d love to help contribute more!

[2018-06-04 19:29] deepakdezire23 opened #887 "Render Time outside of bubble"
#### Issue Description
I have to show time outside of bubble. How  can i achieve this?

#### Additional Information

* Nodejs version: 5.3.0
* React version: 16.0.0
* React Native version: 0.50.3
* react-native-gifted-chat version: 0.4.3
* Platform(s) (iOS, Android, or both?):Android

[2018-06-05 12:33] srinusonly commented on #358
Any update on this? Did anyone have a solution?

[2018-06-06 02:14] PrimeTimeTran commented on #672
@jameshuynh Ohhh, thanks bud!

[2018-06-06 07:29] Gitldx opened #893 "How to insert a new message item to another position"
In my case I don't want  a new message to be appended to bottom of the chat list sometimes.
Is it possible?

[2018-06-06 10:33] chauhan-saurabh opened #894 "How to add Functionalities in Image Lightbox Header ?"
I want to add more functionalities ( like forward button in Whatsapp ) in Image Lightbox Header.
![screenshot_2018-06-06-15-44-21-239_com whatsapp_20180606_154546378](https://user-images.githubusercontent.com/31333681/41033149-223d784a-69a3-11e8-9114-926032e4f9bc.jpg)

[2018-06-06 18:52] ahartzog commented on #840
Commenting out the line breaks text clearing on iOS for me, this appears to resolve it well:

`value={Platform.OS === 'ios' ? this.props.text : null}`

[2018-06-07 06:20] bastolaxantos commented on #893
@Gitldx I think it sorts the messages based on message id. You can insert a new message with id less than the id of last one.

[2018-06-07 07:19] ewal commented on #893
The messages are presented in the order you feed them into the component.

[2018-06-07 07:31] ewal commented on #885
Solved in this pr https://github.com/FaridSafi/react-native-gifted-chat/pull/892, if you use Markdown, that is.

[2018-06-07 07:35] ewal commented on #884
Just delete it from your store/state. The chat should re-render and the message will be removed.

[2018-06-07 08:04] #884 closed

[2018-06-07 17:01] watadarkstar opened #896 "Videos disappear on Android when scrolling inside a FlatList with removeClippedSubviews set to true"
### Environment

Environment:
OS: macOS High Sierra 10.13.3
Node: 8.11.1
Yarn: 1.5.1
npm: 5.6.0
Watchman: Not Found
Xcode: Xcode 9.3 Build version 9E145
Android Studio: 3.1 AI-173.4720617

Packages: (wanted => installed)
expo: ^26.0.0 => 26.0.0
react: 16.3.0-alpha.1 => 16.3.0-alpha.1
react-native: https://github.com/expo/react-native/archive/sdk-26.0.0.tar.gz => 0.54.2

### Steps to Reproduce

I a

[2018-06-07 17:02] watadarkstar commented on #896
Relevant line of code: https://github.com/FaridSafi/react-native-gifted-chat/blob/87560af32fedf5d5b2bdcb25bb541d3d72723542/src/MessageContainer.js#L102 that causes this issue.

[2018-06-08 08:58] emilkarl commented on #866
You could probably handle this before sending it to Gifted Chat. Check name length and truncate. You also got a built-in stuff in React Native you can use if you want to extend this repo. https://facebook.github.io/react-native/docs/text.html#ellipsizemode

[2018-06-09 18:54] alfizo opened #899 ""Type message.."Input is behind keyboard"
#### Issue Description
"Type message.."Input is behind keyboard
you cant see what your typing until u remove keyboard.

#### Steps to Reproduce / Code Snippets
I opened the project with expo and tried to type

#### Expected Results
Input Textbox should be above keyboard on focus so you can see what you are typing.
[FILL THIS OUT]

#### Additional Information

* Nodejs version: [FILL THIS OUT]
* Re

[2018-06-11 06:48] tehwayne commented on #497
I have the same issue using the simulator, however it seems more performant on actual release, however something with onSend seems to be slowing down?

[2018-06-11 07:06] AkAyush commented on #885
Hi, I am using react-native-gifted-chat and i wanted to know, how to restrict the user to input any phone number or email address in chat ??

In My second scenario, I want to replace my chated phone number or email with ********* so that the end user cant see the shared number or email for the privacy reason.

PLEASE HELP I AM NEW WITH THIS LIBRARY

[2018-06-11 07:16] AkAyush opened #900 "Replace the phone and email into the chat with *******"
#### Issue Description

Hi, I am using react-native-gifted-chat and I wanted to know, how to restrict the user to input any phone number or email address in chat ??

In My second scenario, I want to replace my chated phone number or email with ********* so that the end user cant see the shared number or email for the privacy reason.

PLEASE HELP I AM NEW WITH THIS LIBRARY

* React version: "16.3.1

[2018-06-11 07:20] ewal commented on #885
@AkAyush, your question is not related to the current issue. Please direct your question in a new issue. However, you'll find your solution here: https://github.com/taskrabbit/react-native-parsed-text

[2018-06-11 07:27] emilkarl commented on #885
I agree with @ewal @AkAyush . This is a separate question but you might be able to do something like this...

[code]

[2018-06-11 09:20] AkAyush commented on #885
Thank You so much @emilkarl, it's working 👍

[2018-06-11 09:28] emilkarl commented on #900
@AkAyush how did you solve this? 🎉

Reference: #885

[2018-06-11 11:40] vsai opened #901 "messages - best way to handle other message api response format"
#### Issue Description

I'm using an API to retrieve messages where the response object format is different than the standard that is provided here. I'm wondering what is the best way to handle this.

Currently, I'm simply mapping the incoming `this.props.messages` into the necessary structure e.g. `{ _id: message.id, ...message }`, however the `onSend` prop also will do the mapping of the incomin

[2018-06-11 11:55] AkAyush commented on #900
Yes, thank you @emilkarl

[2018-06-12 08:06] m-vdb commented on #411
What else needs to be done to have a new release on `npm`? thanks for your work @xcarpentier and @sibelius

[2018-06-12 09:38] #896 closed

[2018-06-13 14:59] userbq201 opened #902 "Calculate message container height"
[code]

After show keyboard and hide calculate height very slow. What to do ? My decision
[code]
And now height = 100% and toolbar not change height

[2018-06-13 15:05] userbq201 commented on #902
my solution
https://github.com/userbq201/react-native-gifted-chat/commit/04c7b0a652d744cdcba72e56b4fa4afb6f374c01

[2018-06-14 08:46] thu-sama commented on #321
@shekharskamble - mine also never gets fired. Seems like onEndReached is being called before onMomentumScrollBegin. I removed onMomentumScrollBegin and changed onEndReachedThreshold to 100 to fit my need and it works.

`onEndReached = () => {
  // load messages, show ActivityIndicator
  console.log("Loading Messages");
}

<GiftedChat
  ....
  ....
  listViewProps={
    {
      onEndReached: this.o

[2018-06-14 08:56] thu-sama commented on #854
[https://github.com/FaridSafi/react-native-gifted-chat/issues/321](url)

[2018-06-14 08:56] thu-sama commented on #854
#321

[2018-06-14 12:19] munkhbaatar999 opened #903 "CRASH textInput focused inside TabNavigator inside StackNavigator"
#### Issue Description
My structure
Stack Navigator -> TabNavigator -> ChatScreeStack -> NewChat

When textInput or keyboard appear then CRASHING error named native DrawTextLine
But i put normal TextInput instead of giftedChat works fine.

* Nodejs version: [FILL THIS OUT]
* React version: [FILL THIS OUT]
* React Native version: [FILL THIS OUT]
* react-native-gifted-chat version: [FILL THIS OUT]
*

[2018-06-14 22:04] alfizo commented on #899
After investigation i learned this issue only happens with expo.
I found a fix on a previous post [#461](https://github.com/FaridSafi/react-native-gifted-chat/issues/461)

import React, { Component } from 'react';
import { View, Platform } from 'react-native';
import KeyboardSpacer from 'react-native-keyboard-spacer';
import { GiftedChat } from 'react-native-gifted-chat';

export default class Cha

[2018-06-14 22:04] #899 closed

[2018-06-15 16:54] cihancil commented on #806
The problem still exists on iPhone X.

![screen shot 2018-06-15 at 18 38 43](https://user-images.githubusercontent.com/9278709/41479473-fa545a64-70d3-11e8-913f-8237c5b0bb18.png)

Wrapping InputToolbar with a SafeAreaView causes other problems.

[2018-06-16 19:46] gogogous88 commented on #903
same problem here

[2018-06-16 23:52] gogogous88 commented on #903
well, my problem solved by upgrade expo 23.0.0 to 24.0.0
I believe it is due to the problem of RN 0.50.0 not compatible with gifted chat on iOS

[2018-06-17 17:09] gianpaj commented on #830
ping

[2018-06-17 17:10] gianpaj commented on #672
How would you customize the color of the message timestamp?

i.e.
https://github.com/FaridSafi/react-native-gifted-chat/blob/36082ff059d0bf4ec8a51d701425183f3d665900/src/Time.js#L12-L15

This **doesn't** work:
[code]

[2018-06-18 06:17] munkhbaatar999 commented on #903
aan i'm gonna try that out soon then recomment.

[2018-06-19 08:29] Akkujvl opened #904 "How i can change avtar's style"
Hi,

Thanks for great library,

I read document and also see renderAvtar()
I am trying to change avtar's size but nothing is happening.

[2018-06-19 10:49] Zain-ulHassan opened #905 "Show attachment before sending the message"
i want to show the attachment(image, file etc) above the input before sending message, is there any way to do this.

[2018-06-19 14:31] ahartzog commented on #905
Assuming you have the path to the image in state...

` renderChatFooter = () => {
    if (this.state.imagePath) {
      return (
        <View>
          <Text>Image loaded:</Text>
          <Image
            source={{ uri: this.state.imagePath }}
            style={{ height: 75, width: 75 }}
          />
        </View>
      );
    }

    return null;
  };`

[2018-06-22 20:34] watadarkstar opened #909 "Long press swipe down should close the keyboard"
#### Issue Description

Swipe down to close keyboard
[See iMessage, FB messenger, most other apps for example]

#### Steps to Reproduce / Code Snippets

1. Click into the texbox to open the keyboard
2. Swipe down to scroll the channel, extending over top of the text input box

#### Expected Results

Long press swipe down should close the keyboard

[See iMessage, FB messenger, most other apps for e

[2018-06-23 09:34] ATShiTou opened #911 "How to customize the accessory height?"
#### Issue Description

I'd like to develop an app like wechat:

![image](https://user-images.githubusercontent.com/38748693/41807908-32b54c38-7700-11e8-9719-8dee4a68395d.png)

I tried to custom the accessory height like this:
[code]
But failed.
#### Steps to Reproduce / Code Snippets

I looked up the lib source code ,and try to change accessoryStyle
[code]
It works, but the accessory has covered

[2018-06-25 05:06] willdady opened #912 "Inverted = false causes message list to scroll-to-top on send"
#### Issue Description

Message list scrolls-to-top when submitting a new message when `inverted={false}`

#### Steps to Reproduce / Code Snippets

Set `inverted={false}`

#### Expected Results

The README says...

... the message order is reversed as expected however it **also** causes the message list to scroll-to-top when a new message is entered which seems like the wrong behavior

#### Additi

[2018-06-25 20:40] PhilippeMelo commented on #778
It Worked for me too, Thank you guys!!!!!

[2018-06-26 13:18] wispoz commented on #844
any luck with this?

[2018-06-27 12:51] #911 closed

[2018-06-27 15:01] Thyix commented on #887
Same question here ! @deepakdezire23

[2018-06-28 15:15] maendamedia opened #915 "Weird height on message field on iOS using a fixed footer"
I use a custom footer (audio player) on all screens. I set this fixed on the App.js where I use React-Navigation routes. In the render part I render the Drawernavigator, followed by the Player component.

If I open a chat page on iOS and try to sent a message, the textfield is a very large field. This is because of the player component. If I remove that, it is ok.
Is there a way to fix this? Or ma

[2018-06-28 15:56] farhanmannan commented on #714
I've taken over the code @jacklj was using - the issue is still there in react-native-lightbox

[2018-06-28 20:41] hegelstad commented on #409
This isn't working for me either.

It works if I add the relative path to the user prop of GiftedChat, but if i try adding a local picture with relative path to a message in onSend it will get the wrong image number. It is seemingly picking a random number.

[2018-06-29 04:47] OSPFNeighbour commented on #840
+1

Without this my JS and UI FPS drop to about 3fps while typing. with this fix applied they stay at about 50fps

[2018-06-29 14:04] DingTaiKeji commented on #902
According to your solution, Android works well, but the InputToolbar is covered by the keyboard on iOS.

[2018-06-29 15:36] kkrishnan90 commented on #844
Nope.. I'm still waiting for someone to enlighten me on this so that this library is worth plugging in all my upcoming projects.

[2018-07-03 12:01] Bronsequences commented on #814
Any news on this fix being release via NPM? We've forked this repo to get the changes currently available in master but would like to switch back to referencing your module via NPM if possible.

[2018-07-04 19:13] m-vdb opened #918 "TypeError: undefined is not an object (evaluating 'this._messageContainerRef.scrollTo')"
#### Issue Description

When calling `scrollToBottom()` on a ref to `<GiftedChat />`, sometimes a `TypeError` is thrown.

#### Steps to Reproduce / Code Snippets

Only happens in production, I don't know the exact steps to reproduce them. Here is a piece of my code:
[code]

#### Expected Results

There shouldn't be any exeception thrown.

#### Additional Information

* Nodejs version: `v6.11.2`
*

[2018-07-05 07:38] ashutoshshubam commented on #172
@himanshukk81 can you explain little more how you implement group chat

[2018-07-05 18:03] watadarkstar opened #920 "Message container needs to reflect minInputToolbarHeight when prop changes"
#### Issue Description

I have a use case where I hide/show the input toolbar by passing `minInputToolbarHeight` in props. Hence, I need the messages container height to reflect on changes of `minInputToolbarHeight`.

Outdated PRs:
https://github.com/FaridSafi/react-native-gifted-chat/pull/537 @kesha-antonov
https://github.com/FaridSafi/react-native-gifted-chat/pull/498 @peteroid

#### Steps to Re

[2018-07-05 23:22] mcmar commented on #638
This bug is affecting me too. In my case, I am updating text with `this.setState` in my `componentDidMount` and this is immediately overwriting it with the previous version of my text. That's because React calls `componentDidMount` on parents before children and also because all of the `componentDidMount` are called before `this.setState` takes effect (this may change w/ async rendering in React 1

[2018-07-06 08:51] dogecrypto commented on #137
This maybe not solved yet.

[2018-07-06 12:11] dogecrypto commented on #137
and it looks like react-native bug lul.

https://github.com/facebook/react-native/issues/18403

[2018-07-06 17:07] dogecrypto opened #922 "OGP and embed movie support"
Hi, I'm now thinking support OGP and embbed movie implementation for my project.

It maybe a bit excessive feature for this library, but maybe helpful.

How do yo think?  And what do you think is good way for achieve this.

[2018-07-06 17:56] hegelstad commented on #828
@xcarpentier Hi, are you able to fix this? should only take a couple minutes.

[2018-07-06 19:54] userbq201 commented on #902
@DingTaiKeji for ios use KeyboardAvoidingView

[2018-07-06 19:55] userbq201 commented on #902
easy. No lags.

[2018-07-07 19:13] baytelman opened #923 "Regression: Showing keyboard on an empty chat does not resize the message view."
#### Issue Description

On Latest commit #1fedba2:
When keyboard shows up, the message area doesn't resize, hiding the input field.

#### Steps to Reproduce / Code Snippets

- New chat
- Show keyboard by focusing the text area.
- The keyboard shows up
= Message area doesn't resize
= Input field is hidden.

#### Expected Results

= Message area should resize and input field visible.

#### Additiona

[2018-07-09 05:52] Andresagustin opened #924 "custom vars on chat message"
Hi guys, I have a quick question. I need to pass the channelID to the server on each chat message without editing the message itself. There is any way to add as a parameter on the component?

like:

  <GiftedChat
        messages={this.state.messages}
        onSend={messages => this.onSend(messages)}
        placeholder={'Escriba su mensaje'}
        user={this.state.myUser}
        channelID={'T

[2018-07-09 08:56] alexgnatrow opened #925 "Avatar with SVG files "uri" is slowly rendering for both OS, and disappearing in iOS"
Avatar with SVG files uri is slowly rendering for both OS, and furthermore they are disappering after scrolling up and down again on Android, and seem not to in iOS.

###This is my avatar renderer:
`<View key={props.currentMessage.id}>
        <View>
          <View hex={hex} onTouchEnd={this.handleOpenCtxMenu}>
            {isCurrentUser ? (
              <View>
                <Text isMe>Me:</Te

[2018-07-10 00:59] #924 closed

[2018-07-10 05:16] brunolemos commented on #731
It shouldn't be required to use master to have the types

[2018-07-11 11:31] alexgnatrow commented on #674
I had the same issue. In my case it was really silly mistake in my styled component like:
  `background: ${props => props.hex} no-repeat; `
when really I needed to secure this
` background: ${props => props.hex || '#fff'} no-repeat; `
or even
` background: ${props => props.hex && props.hex || '#fff'} no-repeat; `
I have no idea where this could cause performance hit or even crashing in gifted chat

[2018-07-11 11:47] magworkss commented on #924
@Andresagustin which approach did you choose for fixing this issue ?

[2018-07-11 22:40] nuonical commented on #606
Hi @juanmanuelarze @amitava82 @brunocascio ,

 I've modified the componentWillReceiveProps function to no longer use md5 hashing, but it's still taking a couple of seconds just to load 5 hardcoded messages. Anyone have any further luck getting this to load messages in a reasonable timeframe?

[2018-07-12 11:44] nertilzhuri commented on #598
I had the same problem in iOS, and it is caused due to Keyboard Manager library (at least in my case). Setting the Keyboard Manager off for the chat screen fixed the problem.

[code]

It looks like the GiftedChat still calculates the Keyboard Size and places an animatable offset for the keyboard to show properly under the text field. The same thing is done with the Keyboard Manager library.

[2018-07-12 13:56] nuonical commented on #769
@Jarred-Sumner I removed the MD5 calculation and just used id's, and I didn't really see a performance difference.

[2018-07-13 12:10] userbq201 opened #926 "Keyboard very slow!"
rn - 0.55
chat 0.4.3

I quickly type and UI is very slow. Wtf ?
What kind of gesture did you write?

[2018-07-13 12:11] userbq201 commented on #926
I'm thinking of writing my ui

[2018-07-13 13:38] ahartzog commented on #926
Android presumably?

This is an issue in react native that is fixed in 0.56

But windows dev is broken in 0.56

Good luck!

[2018-07-13 14:37] userbq201 commented on #926
@ahartzog 0.56 ? What is problem ?

[2018-07-13 15:11] userbq201 commented on #926
@ahartzog  this ? [link](https://github.com/facebook/react-native/commit/1b4187fc414352cd3724e2d4df2009f5a045fe3f)

[2018-07-13 15:12] ahartzog commented on #926
Yes that. But 0.56 has a regression where if you're doing development on a windows environment you can't do anything right now, so I'm just warning you of that.

[2018-07-13 15:52] userbq201 commented on #926
@ahartzog  How to be in 0,55?

[2018-07-13 15:52] userbq201 commented on #926
upgrade ?

[2018-07-13 16:15] userbq201 commented on #926
@ahartzog  [analogue chat](https://snack.expo.io/ByptnEUmQ?session_id=snack-session-Hkf-eIU7Q)

[2018-07-13 17:35] AntoineGrandchamp commented on #915
I had a similar problem. The problem was that I was using a KeyboardAvoidingView and react-native-gifted-chat already handle the keyboard height.

[2018-07-14 09:43] shaheem-khanzada opened #927 "[performance] too slow when keyboard open and close"
![video-1531510785](https://user-images.githubusercontent.com/37620819/42723230-941dce7c-8773-11e8-9742-a920a505aaf2.gif)

[2018-07-14 17:29] ngothanhtai commented on #773
I have the same problem with `npm install` but working when using `yarn install`. Thanks @mafiusu!

[2018-07-15 08:44] juanscilingo commented on #887
I think you can achieve this by copying the Bubble component from gifted chat (https://github.com/FaridSafi/react-native-gifted-chat/blob/master/src/Bubble.js) into your code and modifying it to render the time outside of the bubble (the this.renderTime() function call), and then passing it to the renderBubble prop of gifted chat.

[2018-07-16 03:36] 15914038396 commented on #598
Same issue
RN 0.55.4
react-native-gifted-chat version: 0.4.4
only ios

[2018-07-16 11:31] userbq201 commented on #926
i remove composer and keyboard has become normal

[2018-07-16 13:34] zarnifoulette commented on #883
Same here, did you find a solution ?

[2018-07-16 14:07] zarnifoulette commented on #799
Hello, did you find a solution ?

[2018-07-16 14:16] meurling commented on #799
@zarnifoulette No, right now I have just accepted it, haven't had time to look into it anymore.
Would be great if someone had a solution! 🥇

[2018-07-16 15:58] mayesto commented on #767
Hi, i have the same problem. Did you found any fix for this?

[2018-07-16 16:38] kesha-antonov commented on #923
+1 !!!

[2018-07-16 19:59] arifo commented on #925
same issue, any fix or workaround for this?

[2018-07-16 21:03] OneOfOne commented on #615
[code]

Still have the problem, not using TabNavigator, #486 didn't help.

[2018-07-17 07:17] sirawat93 commented on #883
after some of digging, it seems when keyboard is up,

[2018-07-17 07:18] sirawat93 commented on #883
not yet

[2018-07-17 08:39] leonyhenn opened #928 "Is there a possible way to load all components before navigation transition?"
#### Issue Description
I am using react-native with react navigation, and I am trying to avoid the slow initialization as mentioned here https://github.com/FaridSafi/react-native-gifted-chat/issues/606 https://github.com/FaridSafi/react-native-gifted-chat/issues/228  https://github.com/FaridSafi/react-native-gifted-chat/issues/473 , but unfortunately there is no luck. So i am trying to find a work

[2018-07-17 09:19] bilalsyed001 commented on #926
https://github.com/facebook/react-native/issues/20119

[2018-07-18 02:15] kiranchaitanya22 opened #930 "Hello, I used Microsoft Bot Framework & direct line Js with Gifted chat. But I am receiving echo response from microsoft bot. Please see my code and let me know how to remove the echo part"
#### Issue Description

Hello, I used Microsoft Bot Framework & direct line Js with Gifted chat. But I am receiving echo response from Microsoft bot. Please see my code and let me know how to remove the echo part

#### Steps to Reproduce / Code Snippets

import React, { Component } from 'react'
import { StyleSheet, View } from 'react-native'
import { GiftedChat } from 'react-native-gifted-chat'
im

[2018-07-18 07:56] 15914038396 commented on #137
RN 0.54.4 inputText Asia language not working
open Custominput.js add code
constructor(props) {
  super(props);
  this.state = {
    text: '',
  };
}
shouldComponentUpdate(nextProps,nextState){
  if(Platform.OS === 'ios'){
    if(this.props.text !== nextState.text){ //nickname为所要获得的TextInput输入值，
      return false;
    }
  }
  return true;
};

that can work

[2018-07-18 14:20] Zain-ulHassan opened #931 "get current message"
is there any way to get the current message object on tap, to identify which message is tapped?

[2018-07-18 14:52] Zain-ulHassan opened #932 "open particular link if there are multiple links in single conversation"
i have multiple link in different messages in single conversation and i want to open that particular link using parse pattern, how can i open that particular link which particularly tapped

[2018-07-18 16:37] userbq201 commented on #926
@bilalsyed001 With simple input all right. In this chat lots of odd code, props and etc.

[2018-07-19 01:17] #893 closed

[2018-07-19 06:04] bharathkuppala opened #933 "How can we use react-native-gifted-chat in the Appsync graphql"
Hii am new to react and Appsync graphql.  We are trying to implement a chat application which uses FaridSafi/ react-native-gifted-chat.  The question of how do we integrate into our chat application from the backend.

* Nodejs version: v9.5.0
* React Native version: 0.55.4
* react-native-gifted-chat version: 0.4.3
* Platform(s) (iOS, Android, or both?): Both

[2018-07-19 06:22] akiladevinda commented on #850
@ruk91 commenting those lines will give bug in iOS. Text not clearing after sending new message

[2018-07-19 07:45] akiladevinda commented on #835
Same issue. Is this fixed now or not ?

[2018-07-19 07:47] victorkvarghese commented on #835
Use fontFamily .. I used roboto font to fix the issue

[2018-07-19 07:47] #835 closed

[2018-07-19 08:08] akiladevinda commented on #835
@victorkvarghese  what is the file need to change the fontFamily ??

[2018-07-19 08:16] victorkvarghese commented on #835
@akiladevinda u need to specify custom Avatar component and everything with text with fontFamily

[2018-07-19 10:43] charinduedirisuriya opened #934 "Messages dont save"
I call the function onReceive("my message"); and by that time it shows the messages as expected. But when i close the app and reopen. It's gone, its set back to defaults. How can i save this message? or add it to the 'load earlier messages' section?

[2018-07-19 11:48] ruk91 commented on #850
@akiladevinda thanks for informing. Did you try state resetting?

[2018-07-19 12:08] shaheem-khanzada commented on #934
@charinduedirisuriya you can save message in a asyncstorage for every user

[2018-07-19 12:13] shaheem-khanzada commented on #931
when u tab any message u get that like this
 <GiftedChat
                  onLongPress={(ctx, currentMessage) => {
                  console.log("currentMessage", currentMessage)
                   }}

                    />

[2018-07-19 12:20] shaheem-khanzada commented on #926
@userbq201 remove all console before making a release build and then check

[2018-07-19 12:20] shaheem-khanzada commented on #927
solved my removing all console in release build

[2018-07-19 12:21] #927 closed

[2018-07-20 10:44] userbq201 commented on #926
@shaheem-khanzada thereis already

[2018-07-20 14:16] #934 closed

[2018-07-23 03:18] guopeng1994 commented on #912
did u resolve it ? any solutions?

[2018-07-23 09:01] SinanBaymammadli commented on #883
I had changed my AndroidManifest.xml to this

<activity
        ...
        android:windowSoftInputMode="stateAlwaysHidden">

When i reverted back to this, it is fixed.

<activity
        ...
        android:windowSoftInputMode="adjustResize">

[2018-07-23 11:14] sirawat93 commented on #883
thank your for ur respond @SinanBaymammadli
but I just tested this on release App, the result was still the same.

[2018-07-23 12:58] zarnifoulette commented on #883
My problem is solve when I don't use the chat in the root component of RNN.

[2018-07-23 19:32] dchersey commented on #862
FYI, that issue was possibly fixed with RN 0.56 but the CAPS behavior is still randomly re-occuring for some of my users for the chat app I have built using Gifted Chat.  It's less frequent, but perhaps triggered by another sequence of actions.  Anybody else still seeing it?

[2018-07-24 22:01] agustind commented on #689
Still not fixed and I think it happens because it's capitalizing the first letter of the URL, maybe you have this configuration: textInputProps={{autoCapitalize:'sentences'}}

[2018-07-25 05:38] chriswill21 opened #936 "Can you nest this component in views?"
Is it possible to put this component into a view and then make that view one of many nested views in a root component? The idea is that you have this chat in the bottom of the page, and something else above it earlier in the page.

[2018-07-25 10:49] tokinonagare opened #937 "Android: Tap character would not correctly display at TextInput"
#### Issue Description

~~Any character I tap in the keyboard, would not correctly display at TextInput.
eg. if I tap the character  'a', the 'a' would apper at TextInput, but immediately disappear! So, I couldn't know what I had input : (~~

~~Only Android meet this problem, iOS is ok.~~

~~Thanks for your help 😊~~

#### Steps to Reproduce / Code Snippets

[code]

#### Expected Results

Could see

[2018-07-25 18:06] Thyix opened #938 "Need to auto-scroll to a particular message of a chat conversation"
Good afternoon,

I have a chat messages thread and I want to scroll to a particular message by it's Id. I have searched and haven't found anything so far.

e.g. : I have a 'message search' scene in my application. When you enter something in the search bar, every messages from every contacts are fetched and I display only some that corresponds with the entry.

When I click on a particular message

[2018-07-26 01:37] #937 closed

[2018-07-26 09:44] akiladevinda commented on #850
@ruk91 Yes I did state resetting. But still the same issue. Keyboard lag in android is been solved. But still I have issue with iOS

[2018-07-26 21:37] AndresTIY commented on #672
any luck @gianpaj ?

[2018-07-27 06:57] Suraj-Tiwari commented on #850
@akiladevinda do this in composer.js
`value={Platform.OS === 'ios' ? this.props.text : null}`
Refrence: [https://github.com/FaridSafi/react-native-gifted-chat/issues/840#issuecomment-395175767](https://github.com/FaridSafi/react-native-gifted-chat/issues/840#issuecomment-395175767)

[2018-07-27 22:29] leron8 commented on #938
I will also be looking forward to having this feature. I see that gifted chat uses RN's FlatList (https://github.com/FaridSafi/react-native-gifted-chat/blob/master/src/MessageContainer.js) so this could be used https://facebook.github.io/react-native/docs/virtualizedlist.html#scrolltooffset Which I see they have that function in Gifted chat also:

scrollTo(options) {
    if (this.flatListRef) {

[2018-07-28 02:59] alfonsosn commented on #843
Any update on this?

[2018-07-29 13:20] husseinraoouf commented on #826
any news about the Quick replies
Note: your Version of the Library with initial  quick replies and it is not usable yet

[2018-07-30 03:18] loyoliteabid commented on #875
Any updates on this?

[2018-07-30 10:30] pradeep351 commented on #875
How to zoom photo in msgs?

[2018-07-31 05:45] maharjanaman commented on #491
@nonotest are there examples for this or something?

[2018-07-31 21:50] watadarkstar commented on #826
@husseinraoouf @pdoggi I wish I had more time for this but feel free to take over my fork and complete the feature 😄

[2018-08-01 09:40] husseinraoouf commented on #826
@watadarkstar No Problem :smile:
I will Try To Implement this feature as soon as I could any one can feel free to help

[2018-08-01 10:12] dantn93 opened #939 "How to add another TextInput and Button under Message Input"
#### Issue Description
I use KeyboardAvoidingView tag under the Gifted Chat. In the KeyboardAvoidingView, I add my TextInput. When I focus on my TextInput, it has a big space between Gifted Chat and my TextInput.

#### Steps to Reproduce / Code Snippets

<View style={styles.container}>
    <GiftedChat
        messages={this.state.messages}
        onSend={messages => this.onSend(messages)}

[2018-08-01 13:13] oxy88 commented on #927
can u explain more?

[2018-08-01 13:32] w3care25 opened #941 "how to show send button by default and add attachment and smiley icon along with send"
how to show send button by default and add attachment and smiley icon along with send

[2018-08-01 15:09] pradeep351 commented on #875
@loyoliteabid  I tried to execute your code, but getting error of "Undefined ({...otherProps})".

[2018-08-01 15:14] richardmillen94 commented on #767
A dirty workaround for this that I'm currently using is setting the autoCorrect prop to `false` and then `true` again `onSend` (only for Android devices).
[code]

[2018-08-02 01:32] pdoggi commented on #826
hey sorry, I've been super busy as well. 😞

[2018-08-02 08:47] loyoliteabid commented on #875
@pradeep351, I meant `{...otherProps}` as the other required props for `<GiftedChat />`.  That was confusing so now  I have edited my code.

[2018-08-02 09:17] pradeep351 commented on #875
@loyoliteabid  Thanks for sharing the code. It's working now.

[2018-08-02 12:37] m-vdb commented on #918
anyone? @FaridSafi @xcarpentier ?

[2018-08-03 06:51] xstable commented on #381
I'd like to add an Icon if a message in a chat is a file (pdf, audio, video).
Would love if "image"-property would be able to handle local images.

[2018-08-03 08:15] adolffre commented on #405
If you have a flat List inside the TouchableWithoutFeedback would be not possible to scroll it if the keyboard is not showing!

[2018-08-03 16:50] lincolnfraley93 commented on #672
so, the only way to achieve this behavior is by copying the source code for Bubble, which itself depends on other files in the source folder, as well as outside packages? shouldn't there be a 'getBubbleColor' prop? i mean, this is the first link under the Questions section on the readme, seems like a common enough issue that it warrants a better solution than basically forking the project...

[2018-08-03 19:35] gianpaj commented on #672
The prop is not being passed down to the `Time.js` file. I'll make a pull request

[2018-08-04 18:34] ahartzog commented on #923
Still seeing this issue after updating to the commit referenced above (#052094d).

I've tried both with forceGetKeyboardHeight and without.

![image](https://user-images.githubusercontent.com/9828263/43679273-b2b000a2-97f0-11e8-87fb-b981cc9c8da4.png)

[2018-08-07 04:32] naiger commented on #912
same problem here

[2018-08-07 04:38] yudistiraAshadi opened #943 "System message fetched from .JSON file error"
#### Issue Description

System message pulled from **.json** file give this error

![screenshot from 2018-08-07 11-22-19](https://user-images.githubusercontent.com/18660006/43754321-6a0dd324-9a34-11e8-8b9f-67ea50b356fb.png)

#### Steps to Reproduce / Code Snippets

.json file
[code]

#### Expected Results

If I put the data in the `this.state.messages` like
[code]

The output looks like this
![scr

[2018-08-07 20:05] alexvaltin97 commented on #938
Also looking for it

[2018-08-08 11:58] CoderHuzaifa commented on #638
I made this custom logic for this:
this.state = {
 isFirstTime:true,
 request:this.props.message
};

setCustomText =(Text)=>{

      if(Text == '' && !this.state.isFirstTime){
        this.setState({request:Text})
      }if(Text == '' && this.state.isFirstTime){
        this.setState({isFirstTime:false})
      }if(Text !== '' && !this.state.isFirstTime){
        this.setState({request:Text})

[2018-08-08 13:15] cuiying408 opened #944 "Can't input Chinese PinYin"
Hi,

I am developing chat application and was going to use this source. But couldn't input Chinese PinYin.
Any solution?

Regards,

#### Additional Information

* Nodejs version: 8.9.1
* React version: 16.3.1
* React Native version: 0.55.4
* react-native-gifted-chat version: 0.4.3
* Platform(s) (iOS, Android, or both?): iOS v11

[2018-08-09 13:00] xstable commented on #52
Would be a great feature, because I wan't to add "voice-recording" to the chat.
Please reopen the Ticket, so that people who interested in this can participate.

[2018-08-09 16:12] anceque commented on #874
@ewal and what to do when you have it inside of `SafeAreaView`? it created some nasty bottom spacing when the keyboard is open :(

[2018-08-10 09:38] justinhartson1 opened #945 "Issue sending consecutive messages"
#### Issue Description

I wonder if you can help me?

I am working on an application which was developed by a developer who is no longer in business.  He integrated your React-Native-Gifted-Chat package in the application and it is working really well with Push Notifications when single messages/chats are exchanged between the sender and receiver.  The problem occurs when a sender sends two messag

[2018-08-10 11:41] aoarashi1988 commented on #848
Maybe you'll interested in XMPP?

[2018-08-11 07:50] NikoMontana opened #946 "renderAvatar() not rendering"
#### Issue Description

I want to render a custom Avatar with FastImage to get the images cached. Here is the structure:
https://imgur.com/tNAYYub

#### Steps to Reproduce / Code Snippets

[code]

#### Expected Results

Show the Avatar. On Console log i get the image path.

#### Additional Information

* Nodejs version: 8
* React version: 16.3.1
* React Native version: 0.55.4
* react-native-gifted

[2018-08-13 19:13] emilkarl opened #947 "Why is returning an empty view if the message array is empty?"
Why is this done instead of implementing `ListEmptyComponent` on the `FlatList`? Any special reason for it?

[code]

RN docs: https://facebook.github.io/react-native/docs/flatlist#listemptycomponent
https://github.com/FaridSafi/react-native-gifted-chat/blob/master/src/MessageContainer.js#L121

[2018-08-15 05:47] nextriot commented on #626
@xcarpentier could you not add these style changes as part of the `inverted` prop fix?
The suggestion made by @lfh22 seems to fix the various open 'start at top' bugs / issues currently open, such as mine: https://github.com/FaridSafi/react-native-gifted-chat/issues/666

Adding this fix would presumably close a bunch of those.

[2018-08-17 21:06] wentingxi commented on #945
+1

[2018-08-18 05:36] Pushpi1992 commented on #530
after write this nothing is happing

[2018-08-18 05:37] Pushpi1992 commented on #530
no any action performed

[2018-08-19 07:46] liplylie commented on #429
For those that want to see a code sample to handle audio recordings, here is a link to a medium article that I posted: https://medium.com/@decentpianist/react-native-chat-with-image-and-audio-c09054ca2204

[2018-08-20 17:18] MingFaiYau opened #949 "How can i install the flatlist one?"
I found that current branch is using FlatList , but 0.4.3 version still using Listview.
FLatlist is better than Listivew in my case because of large messages and some handling.

Can we install the current branch one? and how?
Or need to update/modify the MessageContainer myself?

Thanks a lit

[2018-08-20 17:30] MingFaiYau commented on #947
i think is because this way is easier to handle.
But if you set refresh or load more function in the List, this coding seems cant do that.

[2018-08-20 18:07] luisrodge commented on #769
Any updates on this yet?

[2018-08-21 10:43] xamroc opened #950 "Mocking out GiftedChat for testing"
#### Issue Description

How do I mock GiftedChat for testing? I noticed that importing `GiftedChat` can be used as a Component **AND** as an object with functions `GiftedChat.append(previousState.messages, messages)`.

I am using `jest` to mock out `GiftedChat` as a dependency module but at a loss as how to do this. If I mock it as a component, it errors out because the `append` function doesn't e

[2018-08-21 22:06] fbartho commented on #775
I'm looking for a solution for this too, if anybody knows one.

[2018-08-21 22:16] zupodaniel opened #951 "Bad scrolling with Android Pie 9 and Pixel 2 XL"
#### Issue Description

When scrolling enters in the "momentum" phase (after releasing finger) the chat view starts to scroll in the opposite direction

#### Steps to Reproduce / Code Snippets

Just scrolls the chat view using fast finger swipe

#### Additional Information

* React Native version: 0.55.0
* react-native-gifted-chat version: 0.4.3
* Platform(s): Android 9

[2018-08-22 01:49] kevinsperrine commented on #652
@chrisbull Did you ever find a solution to this? I've come across the same problem and have resorted to simply not using animation on the iOS side.

[2018-08-23 05:45] maharjanaman commented on #880
Had similar issue. Seems this occurs only in android platform

[2018-08-23 06:58] khuongdv opened #952 "GiftedChat doesn't allow enter message in the input field after sending the first one."
#### Issue Description

GiftedChat doesn't allow enter message in the input field after sending the first one.

#### Steps to Reproduce / Code Snippets

This is my code:

[code]
This way, GiftedChat show all message in Firebase. But if I enter text message manually, it accept only one time. After sending the first message, GiftedChat don't allow me to input next message (tried to type in but no te

[2018-08-24 14:07] shekharskamble commented on #321
@thu-sama thanks a lot it worked

[2018-08-27 08:34] chrisbull commented on #652
@kevinsperrine  I don't believe I ever did. The issue lays with the get layout of the frame when it initializes the GiftedChat. If I were to revisit this, I might recommend putting the <View><GiftedChat> into a separate React.Component (call it GiftedChatWrapper), and then the above would be <Animated.View><GiftedChatWrapper /></Animated.View>... then in the GiftedChatWrapper, I'd manually set the

[2018-08-27 08:35] pavlea commented on #936
Yes you can, just need to set container view `flex: 1` or width and height to 100% or some other percentage.

[2018-08-27 17:00] gusgoose commented on #951
Yes, I have noticed this too. Interestingly, though, I have noticed precisely the same problem with Airbnb's chat in their app. I suppose it's unlikely they use gifted chat in their app, but there's a good chance that bit is built in react native... So perhaps something to do with a particular implementation of listview?

[2018-08-27 17:03] zupodaniel commented on #951
It's possible to be related to react-native-invertible-scroll-view. As soon as possible I'll create an issue there.

[2018-08-28 14:58] maendamedia commented on #915
Sorry for terrible late response. I just picked up the project haha.
I still have same problem i do not use KeyboardAvoidingView anywhere yet. I do see that it is caused by a component i render on bottom of the app on every page. If i remove it, it is ok.

BUt... there is nothing in that component which seems to cause this haha.

Any ideas

[2018-08-29 15:51] SimonBao opened #956 "MessageText limit number of lines"
#### Issue Description

I want to limit the message text to only render maximum two lines of text, anything larger results in ellipsis.

Is there something like ```<Text numberOfLines={2}>...</Text>``` for react-native-gifted-chat MessageText?

#### Code Snippets
[code]

* React Native version: 0.56
* react-native-gifted-chat version: 0.4.3
* Platform: Android and IOS

[2018-08-29 19:59] waltermvp opened #957 "Pattern for removing temporary messages once app receives response from server"
Hello, first of all thank your for this great lib.
I have a question on what pattern makes sense to maintain temporary messages state. Given that a temporary message is added to the `messages` prop the moment the user hits the send button  but **before the response is returned** to the app there is no way to generate a matching ID locally (the server will return with its own messageID). What patte

[2018-09-02 03:07] iamrommel commented on #840
No pull request for this?

[2018-09-02 21:46] richeterre commented on #840
@ahartzog, if make the change you suggested

`value={Platform.OS === 'ios' ? this.props.text : null}`

the input field no longer gets cleared when I submit a message. Does this not happen for you? I'm on version 0.4.3.

[2018-09-02 21:47] richeterre commented on #926
Based on the reactions, I expected this change to fix the issue, but instead it turned out that the input field would no longer get cleared after submitting a message. Did anyone else have this experience?

[2018-09-03 10:59] AndrzejKaczynski commented on #915
that's true, it helped in my case

[2018-09-03 14:29] DorianLutmann commented on #77
Has anyone actually solved that? Having the same issue here, I have to manually focus on the TextInput for the textInput to get cleared after pressing Send.

[2018-09-03 14:35] c-goettert commented on #775
I could fix this by setting a negative `bottomOffset`- prop for GiftedChat on iOS. Looks like a hacky workaround, but seems to do it's job...

[code]

[2018-09-04 08:00] redmond-ingenuity opened #959 "White space above inputToolBar in IOS"
#### Issue Description
Theres a white space above inputToolBar in IOS when keyboard goes up. but not in android
![image](https://user-images.githubusercontent.com/35834310/45018451-b847e780-b05c-11e8-9643-dde75d5db9c6.png)

* Nodejs version: v8.3.0
* React Native version: 0.55.4
* react-native-gifted-chat version: 0.4.3
* Platform(s) (iOS, Android, or both?): IOS

[2018-09-05 10:00] refec opened #961 "how to put received .png image to my own telegram client imageview"
#### Issue Description

I have a build an Telegram Application where I got message and images from bot. I just wonder that when bot sends me an image( seen clearly with original telegram ) how i can copy that image to my application( i have imageview for that purpose). Is there some other ways to do that. I am utilizing TDlib and just wonderin how to use chat.photo or MessagePhoto which i can see

[2018-09-05 10:41] flashimxd opened #962 "Help - onChangeVisibleRows"
Hi Guys,
I need to read some lines of my chat when its scrolled ( System message in this case)
I tried to use OnChangeVisibleRows, but, the event is not trigged.

I need to read the system message (Like dates) to update another component.

Ex:
![whatsapp image 2018-09-04 at 18 23 59](https://user-images.githubusercontent.com/13886651/45088133-04983380-b100-11e8-8a06-acb8f2a29eae.jpeg)

As the mess

[2018-09-06 13:30] flashimxd commented on #938
I'm looking for something similar...
Let me know if you guys figure out how to do that.

[2018-09-06 14:03] waltermvp commented on #957
@FaridSafi shameless ask for help :)

[2018-09-06 19:41] rossgeesman commented on #923
I'm having a similar problem. Messages will continue to be added to behind the keyboard. It seems the list should scroll to the bottom so the last message is always visible.
<img width="434" alt="screen shot 2018-09-06 at 12 39 36 pm" src="https://user-images.githubusercontent.com/3291745/45181072-311c8000-b1d2-11e8-9c3b-5149486624f5.png">

[2018-09-07 02:47] Webdev55486 opened #963 "Gifted chat show tab bar when user typing"
#### Issue Description
I am using gifted chat for my chat view.
on ios it's working perfectly.
Problem was in Android,
When user typing need to hide Tab bar.
below Image:

![image](https://user-images.githubusercontent.com/28510084/45195578-e6ab0a00-b28a-11e8-91b1-62f7adc77dee.png)

for that Tabvar, I am using react-native-navigation

I need to result like below

![image](https://user-images.githu

[2018-09-07 06:02] chris-divvito commented on #926
@richeterre - You're correct, if you are doing this you'll need another way to reset the text input.

For us, we add to the `textInputProps` the following:  `ref: textInput => this.textInput = textInput,`
then in the `onSend` handler we do `if (this.textInput) this.textInput.setNativeProps({text:''});`

That said, this is hanging around from an earlier time and I know that these days it's better t

[2018-09-07 08:47] danielmain opened #965 "add http headers in the imageProps"
#### Issue Description

Possibility to add extra options like a cookie or headers in the imageProps

#### Steps to Reproduce / Code Snippets

 react-native-gifted-chat/src/MessageImage.js
`<Image
          {...imageProps}
          style={[styles.image, imageStyle]}
          source={{ uri: currentMessage.image }}
/>`

#### Expected Results

Would be perfect if we have something like 'imageSourceP

[2018-09-07 10:02] Chinezefitzge opened #966 "undefined is not an object (evaluating '_react3.default.PropTypes.string')"
![screenshot_20180907-103352](https://user-images.githubusercontent.com/43063849/45212786-b1ec8200-b28d-11e8-9c69-2b182b8b3505.png)
//This is for the home.js file
import React from "react";
import {
  View,
  Text,
  StyleSheet,
  TextInput,
  TouchableOpacity
} from "react-native";
import { Actions } from "react-native-router-flux";

class Home extends React.Component {
  state = {
    name: ""

[2018-09-07 19:57] yasso1am opened #967 "Help with GiftedAvatar component"
#### Issue Description

I am not automatically getting user initials as their Avatar if no avatar is supplied.  I see there is a GiftedAvatar component in the src folder, however I don't know how to implement it, or what prop to pass to the GiftedChat component to get the avatar initials to display.  I'm not sure if this is a default feature that just isn't working properly, or if I've done someth

[2018-09-09 17:15] cheuk3 opened #968 "_id to id?"
is it possible to use "id" instead of "_id"?

[2018-09-10 04:46] jamesone commented on #735
Any update? Same issue

[2018-09-10 12:47] karltaylor opened #969 "InputToolbar renders ActionButtons by default."
#### Issue Description

I am importing `inputToolbar` and the action buttons are always rendered by default. The fix for this is to pass `null` to `onPressActionButton` because it's default prop is set to an empty function.

#### Steps to Reproduce / Code Snippets

1. Import { inputToolbar } from 'react-native-gifted-chat
2. RenderActions are shown.

[code]

#### Expected Results

RenderActions sh

[2018-09-10 19:47] dolphinflow86 commented on #951
+1

[2018-09-11 07:35] #959 closed

[2018-09-12 20:43] rsmelo92 commented on #951
+1 (pixel 1 android 9)

[2018-09-13 20:47] thedmeyer commented on #828
What's the solution here? Please update the npm package

[2018-09-14 00:01] whitmanc commented on #661
Just as a note, this issue was resolved in a PR that was merged in master (https://github.com/FaridSafi/react-native-gifted-chat/pull/810). Discussion can be seen at https://github.com/FaridSafi/react-native-gifted-chat/issues/789

[2018-09-14 08:08] chunkydonut21 commented on #530
@Pushpi1992  you also have to bind the function in constructor for it to work.

[2018-09-14 08:33] jbosnjakovic opened #971 "Parsing HTML tags in bubbles"
Hello,

I'm interested in showing HTML tags in bubbles. Is this even possible?

Any advice and suggestions will be greatly appreciated. Thanks

![image](https://user-images.githubusercontent.com/22400536/45539196-4bc1ab00-b809-11e8-8662-86f0c823ee09.png)

[2018-09-14 10:34] maulikdhameliya commented on #938
@leron8 : created this scrolling functionality ?

[2018-09-14 13:36] Tempest1000 commented on #578
@davista123 worked perfectly, thank you thank you thank you

[2018-09-14 15:16] leron8 commented on #938
Hello @maulikdhameliya I haven't implemented it. Been busy. I believe @Thyix might have worked on a PR, but not sure though.

[2018-09-14 18:47] Thyix commented on #938
Didn't find anything yet, sadly :(

[2018-09-16 10:30] mjrdnk commented on #731
Is this fixed? Both master and 0.4.3 do not install declarations file.
Can we fix this?

[2018-09-16 18:10] tuononh commented on #828
Not working in lastest release `^0.4.3`

[2018-09-18 15:34] meridj commented on #497
Hi,
i got same issue.
Could someone solve this ?

[2018-09-18 19:36] ggsrivas commented on #951
did anyone find any workaround for this? React native ticket has few workarounds but that requires modifying the react-native code and then building and generating the .aar file. Does anyone have any other suggestion?

[2018-09-18 20:17] MicrosoftCSA commented on #930
I saw this issue. Setting the below property to false solved the issue.

alwaysShowSend (Bool) - Always show send button in input text composer; default false, show only when text input is not empty.

[2018-09-19 12:55] brunokiafuka commented on #680
The code works fine but it adds a padding on iOS, so we have to check which Plaform the app is running,  my fix was 👇🏾

[code]

[2018-09-19 13:27] watadarkstar opened #974 "Dynamically hiding and showing InputToolbar causes white space sometimes."
#### Issue Description

Dynamically hiding and showing keyboard causes white space sometimes (see screenshot). We hide the InputToolbar when we have suggested responses and do not hide it when we don't.

#### Steps to Reproduce / Code Snippets

It happens sometimes on iPhone X and iPhone 6. Its hard to reproduce.

Code:

[code]

#### Expected Results

No white space.

#### Additional Information

[2018-09-20 14:38] saxs4x opened #975 "Scroll to bottom on send / Message"
#### Issue Description

Hi, i'm using inverted == false, and the chat doesn't scroll to bottom auto. The message it's displayed at the top.

#### Steps to Reproduce / Code Snippets

`
 onCreatePress(messages = []) {
        this.setState(previousState => ({
            messages: GiftedChat.append(previousState.messages, messages)
        }));
    }

<GiftedChat
                    listViewProps={{

[2018-09-20 15:43] mandrigin commented on #951
@ggsrivas it's an issue in scrollviews in Android 9, they break momentum when you apply negative scaling to them (that exactly what scroll view inversion does in RN).
So the options that I see are:
- not using inverted scrollviews and inverting the data instead
- bundling your own scrollview implementation for Android (as a native module, maybe it is possible to inherit the scrollview and override

[2018-09-20 16:04] tuononh commented on #5
so update `messages` using `setState()` won't work as well? How can I delete a message? I tried `setState()` to modify `messages` array but it didn't work.

[2018-09-24 16:56] ICJames commented on #930
I am also getting the same issue. I am using pretty much the same code as  @kiranchaitanya22 . I changed the following as per @MicrosoftCSA suggestion but the message still gets echoed in the response :-(

`<GiftedChat`
                    `alwaysShowSend={false}`
                    `placeholder={'Hello Kiran! Please type the message'}`
                    `user={{ _id: 1 }}`

[2018-09-25 09:59] harrydry2 opened #978 "alwaysShowSend prop does not work"
alwaysShowSend prop does work. This issue has been documented several times. Has anyone worked out a fix for this?

Great library btw :)

[2018-09-25 10:02] harrydry2 commented on #828
@FaridSafi has done a fantastic job. But we would all really appreciate this being fixed. Has anyone come up with a fix?

[2018-09-25 18:34] xstable commented on #978
Here is how you can adjust sendbutton for your needs: https://github.com/FaridSafi/react-native-gifted-chat/pull/487

@FaridSafi BTW: `alwaysShowSend` are not yet implemented, so would be nice if you could implement it.

[2018-09-27 08:11] yuwenbai opened #979 "renderTime color???"
I have seen the code about custom Time Text style  on the master but not branch not the version 0.4.3

[2018-09-27 10:27] jadczyk opened #980 "Define MIN_COMPOSER_HEIGHT for Platform.web"
#### Issue Description

I'm using your plugin on the web (using more and more popular react-native-web), but MIN_COMPOSER_HEIGHT is not defined for web in Constant.js. Therefore, height of the container is not calculated and AnimatedView height is not set which results in messages overflowing under the input. Besides, input height is also wrong.

This fixes both issues and doesn't influence apps a

[2018-09-27 14:22] ziyafenn opened #981 "First line is always hidden after line break on iOS"
#### Issue Description

After typing the first line of text and pressing enter to break the line, the first line is always hidden on top of the text field.
If i want to see it, i either have to delete any line break or scroll up the text field.

On Android there is no problem with that.

Any way to fix it?

I use non-modified components.

#### Additional Information

* React version:  16.3.1
* Rea

[2018-09-27 14:38] helielson commented on #978
For some reason the `src/Send.js` file on `v0.4.3` is outdated.
Here the latest commit is from 2017: https://github.com/FaridSafi/react-native-gifted-chat/commits/v0.4.3/src/Send.js

But on the master it's from May 30: https://github.com/FaridSafi/react-native-gifted-chat/commits/master/src/Send.js

[2018-09-27 14:40] helielson commented on #978
All 4.x versions have the same problem

[2018-09-27 14:53] ddereszewski commented on #855
Did you find out something? I try using https://github.com/harshq/react-native-mentions it has hard time working together with gifted chat

[2018-09-27 14:57] ddereszewski commented on #799
It will be great to be able to provide headerCompontent which will be displayed as a first element in the chat and be part of the message scroll

[2018-09-28 15:13] waltermvp opened #982 "Implement Spring Effect"
The native iOS messages app applies some sort of spring / bounce animation to the cells. Is this something that would be of interest to anyone? I have some thoughts on how to get it working on iOS not sure if the native android messaging app does the same. If it does not then this would be an iOS only addition. Thoughts?

[2018-09-28 19:49] MicrosoftCSA commented on #930
Oops. My last solution wasn't solution sorry, that was another issue to do with showing the send button on Android.

The solution for the duplicate messages was:

Add a property sentMessage to state:

state = {
    messages: [],
    sentMessage: null
};

For every message sent in onSend log the message sent in state:

messages.forEach(message => {
    this.setState({sentMessage: message.text});

[2018-09-29 09:16] rabindrachhachan opened #983 "Render action options in a custom modal."
In the current version, action options are rendered in actionSheet. The actionSheet accept only string/Text elements as a parameter to render. How can I render my own custom modal.( Main action buttons, sub actions button with text ). I tried to open my custom modal on action icon pressed as in example app. But modal is not coming up.

#### Steps to Reproduce / Code Snippet
1. Render a customActio

[2018-09-30 20:43] grinono commented on #826
any updates regarding this?

[2018-10-01 19:09] #983 closed

[2018-10-02 12:04] shaheem-khanzada commented on #974
same here

[2018-10-02 19:38] kaitlynbrown opened #985 "components within MessageContainer can't be seen by Calabash"
#### Issue Description
When querying elements on the screen using the Calabash console, I don't seem to be able to see any components inside of the `MessageContainer`. I've tried adding `testID`s to individual `Message`s, as well as to the `ListView`. When I inspect the elements using React Native Debugger, the `testID`s show up, however when I use Calabash to query for these `testID`s, they do no

[2018-10-03 08:16] shaheem-khanzada commented on #957
@waltermvp use renderFooter(){} to show local message in a list , when u press send button u get a local message from props save that message in a state and then use condition
 ` <giftedChat>
        {...props}
    renderFooter={this.state.localMessage.length > 0 ? this.renderFooter() : null}
   </giftedChat>}`

[2018-10-03 08:18] shaheem-khanzada commented on #957
@waltermvp make sure when u receive mesage from server u also have to empty the state like this.setState({localMessage: [] })

[2018-10-03 11:06] pavithra2110 commented on #681
Its's not working for me

`<Send
        {...props}
        wrapperStyle={{
          textStyle: {
                color: 'red'
              }
          }}

      </Send>`

[2018-10-03 16:09] SerekKiri opened #986 "User nickname does not show"
#### Issue Description

When i'm ussing

[code]
I can see only avatar, username does not show

[2018-10-03 19:27] jatarga commented on #936
According to my limited tests, no you **can't**.

[2018-10-04 05:39] veb commented on #946
Here's mine:

[code]

Hope this helps.

[2018-10-04 13:55] saggiyogesh commented on #971
Facing the same issue, Trying to fork and use `react-native-htmlview` module

[2018-10-04 19:11] MylesCaley commented on #638
Having same issue, slightly different workaround. We have a throttle in place because this is what we are using to notify the server that a user is responding.

[code]

[2018-10-04 19:15] alfonsosn commented on #978
@helielson thanks for finding the solution to the problem! Seems like forking the library is probably the best thing to do for now.

[2018-10-05 20:32] thedmeyer commented on #436
This is not functioning properly in the github repo either.

[2018-10-06 19:32] keshamtravels opened #988 "Update To React-Native 0.57"
Please update this project to use react-native 0.57 so that the slow typing problems goes away on android.

[2018-10-06 20:55] MMelek00 opened #989 "InputToolbar"
#### Issue Description

InputToolbar stick to the buttom of the screen
and not avoiding the messages View
After Building Standalone App with expo
![43302767_541009006351525_4396121163164549120_n](https://user-images.githubusercontent.com/35879347/46575691-ed27c100-c9b1-11e8-82f2-a1d75ae0b885.jpg)

#### Steps to Reproduce / Code Snippets

renderInputToolbar(props) {
    return (
      <InputToolbar

[2018-10-08 11:29] ravisublime commented on #979
Had the same issue.

[2018-10-08 12:38] erbud opened #991 "[Bug] Component <Actions />, wrong ActionSheet options behavior"
#### Issue Description

When an option is pressed on the ActionSheet of the <Actions /> component it's execute this option and all the next options of the ActionSheet defined in renderActions method.

#### Steps to Reproduce / Code Snippets

1. Add GiftedChat component overwriting renderActions method

[code]

2. Overwrite renderActions method:

[code]

3. When an option is pressed on the ActionSh

[2018-10-08 16:05] waltermvp commented on #957
@shaheem-khanzada  exactly the direction I was looking for thank you. Will respond in a week or so once i have actually implemented your suggestion. Once again thanks.

[2018-10-09 09:02] Jeremy-JM commented on #944
I also have this problem:
React version: ^16.3.0-alpha.1
React Native version: 0.54.4
react-native-gifted-chat version: 0.4.3
Platform: only iOS All version.

Do you have resolve this issue?
@cuiying408

[2018-10-10 09:17] goodryanboy commented on #989
try to add this in your manifest in side the <activity android:windowSoftInputMode="adjustPan">

[2018-10-10 15:24] scmyhexinhao commented on #989
They had solution to this issue on their home page already.Look below:
For Expo, there are almost 2 solutions to fix it:

adding KeyboardAvoidingView after GiftedChat
adding an opaque background status bar on app.json https://docs.expo.io/versions/latest/guides/configuration.html#androidstatusbar

[2018-10-10 17:36] jackkav commented on #988
Also 0.57 seems to need invertible to be upgraded to 1.1.1
https://github.com/expo/react-native-invertible-scroll-view/issues/55

[2018-10-10 20:28] testshallpasswork commented on #938
Technically, as alluded gifted chat uses Flatlist internally and it could be that you can use [scrollToIndex](https://facebook.github.io/react-native/docs/flatlist#scrolltoindex) but as documentation states it depends on [getItemLayout](https://facebook.github.io/react-native/docs/flatlist#getitemlayout) and that depends on giving Flatlist heights to the items upfront.
@leron8 Your PR would be abl

[2018-10-10 21:53] leron8 commented on #938
Hey @testshallpasswork I can't work on PR right now. @Thyix was but he says he hasn't found anything yet :'(

[2018-10-11 03:50] anhtukhtn commented on #938
I'm waiting for this also. Hope.

[2018-10-11 09:44] shaheem-khanzada commented on #957
@waltermvp no problem let me know if u need more help

[2018-10-12 08:01] raphaelpra opened #994 "ISystemMessage is defined twice in index.d.ts"
#### Issue Description

ISystemMessage is defined twice:
- as a chat message data
- as a component

Since only the last definition stands, whenever we need to defined a system chat data in our component (for instance in our state), it don't point to the correct element

#### Steps to Reproduce / Code Snippets

The following code raise an error :
[code]

#### Expected Results

Not raising the follo

[2018-10-12 08:11] raphaelpra commented on #994
I have suggested a renaming in a PR

[2018-10-12 15:30] yurykorzun opened #997 "Release the master branch to npm"
Currently, the master branch contains changes that aren't included in 4.3.0 npm release. The last released was done on March 16th.

Is there any way it can be released to npm?

[2018-10-12 23:11] arik-gamerlink commented on #767
Is this fixed or anything?

[2018-10-13 13:17] neel132 commented on #926
@batuhansahan your solution works like a charm... Thanks :)
But In android how it is possible to set a default value of TextInput as it is initialized to null ?

[2018-10-14 17:20] HelloEdit commented on #431
no longer seems to be maintained

[2018-10-14 17:20] #431 closed

[2018-10-14 18:54] s5963028 opened #998 "Opposite Scroll Logic"
#### Issue Description

If i set inverted flag to false, then after i send a message (onSend function), the list scrolls to top and I need to scroll all the way down to see my new message.

If i set inverted flag to true, then after i send a message (onSend function), the list scrolls to bottom and I need to scroll all the way up to see my new message.

#### Steps to Reproduce / Code Snippets

Jus

[2018-10-16 10:42] satyanarain opened #999 "I am able to shownig offline message nag customize window"
#### Issue Description

[FILL THIS OUT]

#### Steps to Reproduce / Code Snippets

[FILL THIS OUT]

#### Expected Results

[FILL THIS OUT]

#### Additional Information

* Nodejs version: [FILL THIS OUT]
* React version: [FILL THIS OUT]
* React Native version: [FILL THIS OUT]
* react-native-gifted-chat version: [FILL THIS OUT]
* Platform(s) (iOS, Android, or both?): [FILL THIS OUT]

[2018-10-16 10:42] #999 closed

[2018-10-16 12:05] rkzhap123 commented on #986
That's not a bug,
I know that the "name" variable is for check the message send by me or other people.

You want to see the Nickname, you can see this page.

https://github.com/FaridSafi/react-native-gifted-chat/tree/master/example-slack-message

[2018-10-19 09:14] shaheem-khanzada commented on #988
yes Update To React-Native 0.57 there are a lot of issues with flatList please update to 0.57

[2018-10-19 14:44] yurykorzun commented on #988
You can try to reference my fork of the gifted chat here https://github.com/Flyclops/react-native-gifted-chat
I updated it to the most recent RN release.

[2018-10-19 14:50] shaheem-khanzada commented on #988
@yurykorzun in this fork is flatList working fast?

[2018-10-19 15:13] yurykorzun commented on #988
I am not 100% sure, but it works well for me.

[2018-10-19 16:17] shaheem-khanzada commented on #988
can u send mein code of how you are passing data to flatList

On Fri, Oct 19, 2018, 8:15 PM Yury Korzun <notifications@github.com> wrote:

[2018-10-19 17:30] yurykorzun commented on #988
If you're asking about the gifted chat, I just set the messages prop and it forwards them to a FlatList.  You can take a look at a MessageContainer,js

[2018-10-19 17:40] shaheem-khanzada commented on #988
i mean lets suppose u have 10 messages in array user sent new message
messages become 11 so my question is faltlist render all 11 items again or
just new one because i am have a probelm which makes my applucation slow

On Fri, Oct 19, 2018, 10:30 PM Yury Korzun <notifications@github.com> wrote:

[2018-10-20 09:54] shubham1164 commented on #978
That worked for me. Thanks

[2018-10-20 10:20] shaheem-khanzada commented on #988
@yurykorzun there?

[2018-10-21 11:31] n-sviridenko commented on #428
Any news on this?

[2018-10-22 10:51] lucsky commented on #731
Why is this closed ? Typescript types are definitely not available when installing current version (0.4.3).

[2018-10-22 14:11] lucsky commented on #876
@lucasbento is right, the `index.d.ts` file has been removed from `.npmignore` *after* the 0.4.3 release so the release notes are basically incorrect, Typescript typings are not available. There should either be a new 0.4.3 release or a 0.4.4.

[2018-10-24 19:18] miracle2k opened #1002 "Has any one managed to support SHIFT+ENTER for newlines"
I want `ENTER` to submit the message, and `SHIFT+ENTER` to insert a newline. I couldn't figure out a way to find out when `SHIFT` is pressed. `onKeyPress` is not triggered.

Has any one managed to solve this? I do not even mean with `gifted-chat` in particular (though this should be supported), but with react-native in general?

[2018-10-26 10:39] Base2526 opened #1005 "Add emoticons view"
Hi all friend
  if i want add view emoticons   by picture
![untitled](https://user-images.githubusercontent.com/900211/47561613-ffa87100-d945-11e8-9179-b45d8163fd09.png)

thx.

[2018-10-28 05:13] ifrostyice commented on #780
npm install react-native-gifted-chat

[2018-10-29 09:41] anhtukhtn commented on #938
I finally did it by myself with v0.4.3.
The idea is:
1. Get ref of the list view `chatListView`.
2. Get position of the message view. Because in v0.4.3, Gifted chat using `InvertibleScrollView`. So I have to using `onLayout` of the `view` in `InvertibleScrollView`. Then I store them in a stored dictionary.

==> Scroll to message: Get position (`messageViewY`) of message view from the stored dictio

[2018-10-29 11:41] flyinghawker opened #1006 "About the pull up the page to load more content"
Yes, it is pull up not pull down.
for case that load first line of new message and load more subsequent message when pull up to bottom, which is pretty similar to Wechat

The issue is that I directly use refreshControl, and because this is inverted list, after new msg appended, it directly reaches the end of chat list. But I expect it to stay at the same position before new msg appended so user ca

[2018-10-29 15:24] tyoc213 opened #1007 "Migrate from deprecated LIstView fb.me/nolistview"
#### ListView is deprecated

The link give in the yellow buble is fb.me/nolistview

#### Steps to Reproduce / Code Snippets

Just run any example and you will see the yellow message of deprecation.

#### Expected Results

No yellow buble

#### Additional Information

* Nodejs version: 10.12.0
* React version: 16.6.0-alpha.8af6728
* React Native version: 0.57.3
* react-native-gifted-chat version: ^

[2018-10-29 17:50] lucsky commented on #876
Poke @xcarpentier 😇

[2018-10-29 18:37] fbartho commented on #876
My experience is that things are successfully landing in `master` but they aren't getting deployed at all, so my team's project is directly using `master` as our target "version"

[2018-10-30 20:37] sibelius opened #1008 "add contributors"
This repo is great, but we need much more contributons to review issues and pull requests

I think the right path is to move to https://github.com/react-native-community and add much more contributors

[2018-10-31 09:01] BatDroid commented on #991
i have this issue too

[2018-11-01 17:45] thiZguy commented on #411
npm installation still comes with ListView, any update coming soon to the package manager?

[2018-11-01 18:01] yurykorzun commented on #1008
It looks like there is no one responsible for merging pull requests and doing releases.

[2018-11-02 05:46] abduliOS opened #1009 "Can't set response from api to messages array of GiftedChat"
#### Issue Description

![su63h](https://user-images.githubusercontent.com/10071614/47895867-af269b80-de90-11e8-8e25-f2d40b402e82.png)

I am new to react native. I am currently developing a messaging app.

I have used npm-giftedChat for UI & functionalities. The problem is I need to get the response from api & set it to the messages array of giftedchat. I receive data from API and while I set it t

[2018-11-02 12:59] Abhishekgarg727 commented on #828
is anyone got fix for alwaysShowSend  in gifted chat

[2018-11-02 14:51] harrydry2 commented on #828
change it in the actual npm module. not as hard as it soudns

On Fri, Nov 2, 2018 at 1:00 PM Abhishek Garg <notifications@github.com>
wrote:

[2018-11-04 16:48] GabrielePrestifilippo commented on #385
I was looking for the same and I ended up by editing the container style in `MessageContainer.js` with:

`container: {
    flex: 0,
    flexDirection:'row'
  },`

at line `172`

[2018-11-07 01:53] danZheng1993 opened #1011 "Issue with InputToolbar Height"
#### Issue Description

I was trying to limit the maximum height of input toolbar.
But when I was trying to implement this, I get this issue.

![chat](https://user-images.githubusercontent.com/33262634/48105690-6ea19600-e273-11e8-93ef-83c2f564d4f0.gif)

#### Steps to Reproduce / Code Snippets

Here's what I did
[code]

#### Expected Results

When adding new lines in the message box, the content wi

[2018-11-07 04:07] DnEgorWeb commented on #799
Hello, did anyone find a solution? @zagoa @ddereszewski ?

[2018-11-07 05:53] DnEgorWeb commented on #799
I solved this problem replacing android:windowSoftInputMode="adjustPan" to android:windowSoftInputMode="adjustResize" in AndroidManifest.xml. Don't forget to rebuild your application after any changes in AndroidManifest.xml, cause your current build won't see the difference.

[2018-11-07 07:35] ronastlelobo opened #1012 "How to place a button in the text Input and keep the existing send button static ?"

[2018-11-10 18:50] saeedvaziry commented on #1007
any fixes?

[2018-11-11 10:55] maherzaidoune commented on #1012
you use the renderActions , renderComposer and renderSend prop functions to create you custom input toolbar , here is an example using renderActions function [GiftedChat_Video](https://github.com/maherzaidoune/GiftedChat_Video/blob/master/App.js)

[2018-11-13 11:53] kanso-michael commented on #998
Think this is because of calling `scrollToOffset` on a `FlatList`
https://github.com/FaridSafi/react-native-gifted-chat/blob/052094d4dd1f2cd2726454605cf53ff115b5b9fa/src/MessageContainer.js#L82

It is passing through `y: 0` in the `options` object
https://github.com/FaridSafi/react-native-gifted-chat/blob/1fedba2203e29d35832e4939e1857f44ab398ab9/src/GiftedChat.js#L301

FlatList docs state:
https:/

[2018-11-13 11:54] kanso-michael commented on #975
Think this is because of calling `scrollToOffset` on a `FlatList`
https://github.com/FaridSafi/react-native-gifted-chat/blob/052094d4dd1f2cd2726454605cf53ff115b5b9fa/src/MessageContainer.js#L82

It is passing through `y: 0` in the `options` object
https://github.com/FaridSafi/react-native-gifted-chat/blob/1fedba2203e29d35832e4939e1857f44ab398ab9/src/GiftedChat.js#L301

FlatList docs state:
https:/

[2018-11-13 15:36] OlivierBessi commented on #826
Hello @watadarkstar, @husseinraoouf, @pdoggi - I am interested in this very useful initiative. I was wondering if you got a change to progress the development of this item? Thakn you!

[2018-11-13 16:20] watadarkstar commented on #826
@OlivierBessi @grinono Unfortunately, I don't have the bandwidth to work on this but feel free to submit a PR 😄

[2018-11-14 18:11] tapz commented on #979
Sadly, does not seem to exist in the npm version.

[2018-11-15 09:17] msafayasar commented on #166
@FaridSafi Is there any solution? I think you have the solution as you closed the issue. Can you explain how to solve this?

[2018-11-15 13:32] afacar opened #1013 "How to get new message from firebase"
#### Issue Description

I'm following the code from [https://github.com/FaridSafi/chatapp](https://github.com/FaridSafi/chatapp).
My code is loading messages from firebase in componentDidMount and sending message to firebase.
**But it doesn't show the new messages after they are inserted to firebase**. I'm expecting firebase.database().ref('messages').limitToLast(20).on('child_added', onReceive) i

[2018-11-15 23:01] fbartho commented on #1008
I'd love to contribute here too. I just pushed an update to github.com/taskrabbit/react-native-parsed-text that fixes a bug that affects react-native-gifted-chat

[2018-11-15 23:32] sibelius commented on #1008
send me pull requests that you want to be reviewed and merged

I'll try to take a look on some of them

[2018-11-16 05:21] abhisheksdm opened #1015 "React JS compatibility"
Hello.. Can it be configured with React JS?
I was using react-chat-widget, but it supports only plain text messages. I also need to send images as well.
Please suggest me any solution.
Thank you.

[2018-11-16 06:39] ronastlelobo commented on #1012
Thank You @maherzaidoune , I got the expected Result !

[2018-11-16 06:39] #1012 closed

[2018-11-16 08:21] eniayeye opened #1016 "How can I fix react-native vector icons in this code"
#### Issue Description

import React from'react';
import {Text, View,header,StatusBar} from 'react-native';

import {TabNavigator} from "react-navigation"

//import {createMaterialBottomTabNavigator} from 'react-navigation-material-bottom-tabs'
import {createMaterialTopTabNavigator, createBottomTabNavigator } from  'react-navigation'
import { createNavigator, SafeAreaView, TabRouter } from 'react-

[2018-11-16 09:02] sibelius commented on #1016
Not related to this package

[2018-11-16 09:02] #1016 closed

[2018-11-16 09:03] sibelius commented on #1015
You should try with react native web, and let us know

[2018-11-17 07:02] afacar commented on #1007
How do we solve this? What "use master" means?

[2018-11-17 22:01] afacar commented on #1013
After few days trying everything, I come to realize it was just because of .off() function.

[code]

[2018-11-17 22:01] #1013 closed

[2018-11-18 03:23] tyoc213 commented on #1007
There is no official release, use master branch ;)

[2018-11-18 22:41] sibelius commented on #731
Master has types, check the code

[2018-11-18 22:43] lucsky commented on #731
@sibelius that's exactly the point, **master** has types, the current **release** (0.4.3) does not.

[2018-11-18 22:52] lucsky commented on #731
@sibelius yes that is the point: master has types, the **release** (0.4.3 at this moment) does not.

[2018-11-19 16:30] sibelius commented on #1008
ping me if you need any issue or PR to be reviewed

[2018-11-19 16:30] #1008 closed

[2018-11-19 16:31] sibelius commented on #988
can somebody send a pull request fixing this?

[2018-11-19 16:31] sibelius commented on #966
[code]

does not work anymore,

not a problem with this package

[2018-11-19 16:31] #966 closed

[2018-11-20 01:04] nandiniparimi1107 opened #1017 "Is there a way to prepend some text on a message onPress?"
#### Issue Description

I would like to add another row on the top of a message onPress of a message, How can i do that?

#### Expected Results
Say for example the conversation is :

Alex : Hi
Bob: Hello
Alex : How is your day going
Bob: Good.

Now if Alex clicks on bob;s message, this is what i want to see on UI

Alex : Hi
This message was sent with some metadata
Bob :Hello
Alex : How is your day

[2018-11-22 15:56] CodingPapi commented on #883
@zagoa hi, I have tried your solution, but no luck.
can U show me some detail code about this? thanks!

[2018-11-22 16:07] sibelius commented on #883
Fix using android manifest

[2018-11-22 16:07] #883 closed

[2018-11-22 17:02] BatDroid opened #1019 "Question: adding emoji button for android like telegram,..."
hi, actually i have a question. is there anyway to have a button by which we show the list of emojies to add with the message in android like what there is in telegram,...?

[2018-11-23 10:04] MonteyMontey opened #1020 "Stretch custom view to 100% screen size"
#### Issue Description

I can't find a way to stretch an element in the chat to 100% screen width, there's always a left and right margin being applied in the chat.

Currently my ScrollView looks like this, but I want it to use the whole width of the screen.

![screen](https://user-images.githubusercontent.com/32668472/48937619-fabbea80-ef0e-11e8-8e67-87ca5fb61d16.png)

And I only want to remove t

[2018-11-23 11:39] lucsky commented on #731
@sibelius Just tested with 0.5, everything's fine.

(well, except for that `imageStyle` prop, but that's already fixed in master...)

Thanks!

[2018-11-23 12:14] MonteyMontey commented on #1020
Nevermind, setting the left and right of the custom view to minus values like "marginRight = -10" worked for me

[2018-11-23 12:14] #1020 closed

[2018-11-26 10:01] Revocsid commented on #689
Same issue

[2018-11-26 20:50] cmcaboy commented on #731
It appears to be working with 0.5 for me as well.

[2018-11-28 11:51] anhnt2309 commented on #1005
Have you found the solution yet?

[2018-11-28 13:32] sibelius commented on #1005
use this package https://github.com/missive/emoji-mart

[2018-11-28 13:32] #1005 closed

[2018-11-28 13:49] RominHalltari opened #1021 "isAnimated doesn't show any change in behavior, no matter if it is set to true or false."
#### Issue Description

I put `isAnimated={true}` but in Android it doesn't do anything. The behavior is the same as `isAnimated={false}`.

#### Steps to Reproduce / Code Snippets

I just used the example shown in the official docs, and added `isAnimated={true}` to the GiftedChat component but it doesn't seem to be any different than when I use `isAnimated={false}`.

#### Expected Results

When `i

[2018-11-28 15:32] linux08 commented on #1017
@nandiniparimi1107  you got any solution to this?

[2018-11-28 21:18] greenkeeper[bot] opened #1022 "An in-range update of @types/react is breaking the build 🚨"
## The devDependency [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.7.7` to `16.7.8`.

🚨 [View failing branch](https://github.com/FaridSafi/react-native-gifted-chat/compare/master...FaridSafi:greenkeeper%2F%40types%2Freact-16.7.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@ty

[2018-11-29 15:18] Thomazella opened #1023 "MAX_COMPOSER_HEIGHT and long messages"
#### Issue Description

MAX_COMPOSER_HEIGHT is hardcoded in Constants.js to 200 pixels.
After it hits that cap inside `onInputSizeChanged`, the toolbar is pushed beneath the keyboard.

![screen shot 2018-11-29 at 1 15 40 pm](https://user-images.githubusercontent.com/15015324/49231359-ec6f4200-f3d8-11e8-9632-2cbf05426dad.png)

#### Steps to Reproduce / Code Snippets

add a bunch of text, watch it b

[2018-11-29 16:12] Thomazella commented on #989
if the main view changes height it'll trigger an `onLayout` handler in Gifted chat causing the input to reset to bottom, even if keyboard is open

[2018-11-29 21:12] MMelek00 commented on #989
thank you guys non of that worked but already solve it by adding "react-native-keyboard-spacer" to avoid view

[2018-11-29 21:12] #989 closed

[2018-11-30 09:56] ronastlelobo opened #1026 "How to put a Progress Indicator when sending a Image on the Message Box ?"

[2018-11-30 10:12] onusvishal commented on #968
same issue .

[2018-11-30 10:42] sibelius commented on #968
not right now

[2018-11-30 10:51] onusvishal opened #1027 "I find one more issue for message showing in IOS ?"
see this video
![chatissue](https://user-images.githubusercontent.com/45001798/49284863-d4242380-f4bb-11e8-970a-9ddd52da0802.gif)

[2018-12-01 13:32] maherzaidoune commented on #1027
i don't think this problem is related to the library , just make sure you are using the right id in your msg objects

[2018-12-01 22:33] chih98 opened #1028 "renderSystemMessage not working"
#### Issue Description

renderSystemMessage is not being called as a prop inside `<GiftedChat renderSystemMessage{...} />`

#### Steps to Reproduce / Code Snippets

`<GiftedChat renderSystemMessage{this.renderSystemMessage} />` should call `renderSystemMessage(props)` and render a custom system message, but it doesn't.

#### Expected Results

Custom function to be called similar like renderSend, r

[2018-12-04 14:42] nikolal commented on #362
I am also having this.

It must be connected to kelektiv/node-uuid#117

All I am doing is generating messages using setinterval.

[code]

[2018-12-05 13:59] mpinter commented on #1023
+1 , we also have this problem - did you find a workaround in the meantime ?

[2018-12-06 08:03] haseebehsan opened #1030 "back-end for gifted chat?"
Hi I want guide for integrating this gifted chat in my application specifically I can't figure out what kind of back-end gifted chat requires? is there a solution for that?

[2018-12-06 08:57] mafiusu commented on #1030
You can use this chat component with any backend you like. There is an example on YouTube where @FaridSafi show how to do it with the backend Firebase.

[2018-12-06 09:07] anjumpaul opened #1031 "Add examples of group messaging"
Group messaging is possible?

[2018-12-06 09:37] mafiusu commented on #1031
Yes!

[2018-12-06 10:02] haseebehsan commented on #1030
thanks for the reply =, can you suggest me back-ends other than firebase? and does gifted-chat provide UI for call option like in whatsapp?

[2018-12-06 10:06] sibelius commented on #1030
We gonna accept docs to improve this, basically your backend should return a list of messages from a conversation, and provide a way to add a new message for a conversation

I recommend using GraphQL and Relay Modern to scale

[2018-12-06 10:06] #1030 closed

[2018-12-06 10:11] StormFactory commented on #1030
@haseebehsan Here is the link mentioned above https://www.youtube.com/watch?v=7Ot5LSGHLyY

[2018-12-06 10:38] sibelius commented on #1030
I've made a basic modelling of this using GraphQL https://github.com/sibelius/semcomp-graphql/tree/master/src/model

and can get this as starting point

[2018-12-06 11:58] anjumpaul commented on #1031
@mafiusu,how to implement group messaging?

[2018-12-06 12:12] anjumpaul commented on #1031
please share sample code

[2018-12-06 13:31] mafiusu commented on #1026
It's just simple ReactJS here. You can extend the MessageImage.js file with a loading prop.

if the loading prop is passed (true) you will render an activity indicator :)

[2018-12-06 14:47] mafiusu commented on #1031
This chat component only reflects a basic chat User Interface. To create groups like in WhatsApp you have to create a Chat List Screen and do many things in your backend.

[2018-12-06 15:08] anjumpaul commented on #1031
how to implement chat with multiple chat participants.can you share some example?

[2018-12-06 20:47] Faolain commented on #975
@kanso-michael can you please submit a PR?

[2018-12-07 02:08] jakil93 opened #1033 "How to scroll to specific message?"
#### Issue Description

Hi ~
when load chat component, i want to scroll specific message!
but i can't find the way..
can you this?

#### Steps to Reproduce / Code Snippets

[FILL THIS OUT]

#### Expected Results

[FILL THIS OUT]

#### Additional Information

* Nodejs version: [FILL THIS OUT]
* React version: [FILL THIS OUT]
* React Native version: [FILL THIS OUT]
* react-native-gifted-chat version

[2018-12-07 06:12] minicase opened #1034 "How to remove a message from message list"
How to remove a message from message list

[2018-12-07 17:40] SrWildman commented on #938
@anhtukhtn can you please provide a little more detail on this? I have my reference to gifted chat but am a little confused after that.

[2018-12-07 23:48] Faolain commented on #1026
@mafiusu could this also be a solution? I don't see a `loading` prop existing already on MessageImage.js so this fix could allow this to be done without needing to extend the file which should be a feature that's supported out of the box.  https://github.com/FaridSafi/react-native-gifted-chat/pull/1003

[2018-12-08 00:08] Faolain commented on #900
Can you please close this issue @AkAyush ?

[2018-12-08 00:15] Faolain commented on #1034
please adhere to the following issue creation guidelines upon creating an issue.

#### Issue Description

[FILL THIS OUT]

#### Steps to Reproduce / Code Snippets

[FILL THIS OUT]

#### Expected Results

[FILL THIS OUT]

#### Additional Information

* Nodejs version: [FILL THIS OUT]
* React version: [FILL THIS OUT]
* React Native version: [FILL THIS OUT]
* react-native-gifted-chat version: [FILL T

[2018-12-08 00:17] Faolain commented on #988
@yurykorzun can you please open a PR with the update? It would be greatly appreciated by the community :)

[2018-12-08 00:31] Faolain commented on #854
Can you close this issue @heyv5 ?

[2018-12-08 00:36] Faolain commented on #236
Can this issue be closed? Gifted chat uses FlatList instead of ListView now no?

cc: @swaroopa94 @cooperka

[2018-12-08 00:37] Faolain commented on #253
@jeromegrosse can you please close this issue?

[2018-12-08 00:41] Faolain commented on #289
As noted in the documentation

```renderAvatar (Function) - Custom message avatar; set to null to not render any avatar for the message```

@f0rr0 can you please close this issue?

[2018-12-08 01:20] Faolain commented on #769
any thoughts here @FaridSafi ?

[2018-12-08 05:15] onusvishal commented on #968
use this design https://github.com/vshalvaghasiya/React-Native-FirebaseChat

[2018-12-08 07:49] Faolain commented on #644
thanks @ownikss , this works as intended however I'm wondering why including

[code]

seem to fail even though they both exist on the Bubble component?

[2018-12-08 07:56] Faolain commented on #968
Thanks @onusvishal but I don't use Firebase so I'm not sure this can help unless I'm looking in the wrong place? Is there a particular place within this project that a mapping pattern is used?

[2018-12-08 11:57] ownikss commented on #644
@Faolain I think you need to check gifted-chat version. Seems like its a new features. You can check code in node_modules to be sure that functions is not exist.
Updating is able to fix your issue

[2018-12-08 16:03] cooperka commented on #1034
No need to scare away new users @Faolain, it's a simple question.

GiftedChat stores messages in a regular array. To add a new message is in the README, copied here for reference. To remove a message will be similar. Add:

[code]

To remove a message you'll need to find it in the array and delete it.

[code]

Apologies for formatting, I'm on mobile at the moment.

Does that help, @minicase ?

[2018-12-08 16:56] Faolain commented on #1034
Don't think it scares away users @cooperka as much as it keeps the issues for what they're intended for. If there is a need to have this information in the documentation then it should go there otherwise we will spend every other issue answering the same questions leading to an unmaintainable mess of issues that stay open for 2 years like is currently the case. If anything we should have an exampl

[2018-12-08 17:06] Faolain commented on #1031
@anjumpaul as noted by @mafiusu this requires backend work as well which is not covered by react-native-gifted-chat and that solution is up to your discretion. Gifted chat allows you to pass any messages that you want, including that from multiple participants (multiple user _id's) but handling this on the backend requires work that is out of the scope of this library.

@cooperka can we please clo

[2018-12-08 17:45] cooperka commented on #1034
That's a good idea. Do you mind filing an issue for it? Or a PR if you're interested.

[2018-12-08 17:53] cooperka commented on #1031
@Faolain I updated the title to reflect the actual need here. Feel free to note any similar questions as duplicates of this one. I don't think closing it will help unless there's an actual answer to the question that users can refer to (people will just keep opening new issues to ask the same thing).

[2018-12-08 17:55] cooperka commented on #1031
On a related note, if you reach out to Farid he's generally quite friendly and he may grant you collaborator access so you can help clean up these issues. Unfortunately I personally don't have the time right now to actively maintain these issues, but I appreciate your help.

[2018-12-08 18:04] Faolain commented on #644
Update: @ownikss I decided to do this as is shown in the following method after some thinking

[code]

it seems cleaner and doesn't require extra files no? Am I missing something?

[2018-12-09 04:01] Faolain commented on #750
@anilgurindapalli did you receive any extra code or did you just use what mafiusu listed above?

[2018-12-09 04:51] minicase commented on #1034
thanks

[2018-12-09 05:03] Akkujvl opened #1035 "after some messages render(200+) app is hangs and crashes when scroll."
Hi there,
after some messages render(200+).
when i scroll fast it renders blank screen, if I continue scroll up and down for while it hangs.

* Nodejs version: v8.11.4
* React Native version: 0.57.3
* react-native-gifted-chat version: ^0.5.0
* Platform(s) (iOS, Android, or both?): both

[2018-12-09 14:37] mafiusu commented on #750
@ChrisEdson I'm a bit late here but if you and @Faolain want the complete source code, you can contact me through Twitter.

It would be a nice feature to have for this library.

[2018-12-10 08:17] xcarpentier commented on #750
@mafiusu any PR?

[2018-12-10 10:43] mafiusu commented on #750
If I have more free time, I'll do a PR soon :)

[2018-12-10 12:09] LesedimotaungNC commented on #738
a graph ql example would be awesomer

[2018-12-11 04:19] yuensunn commented on #728
You could set the `delayLongPress` props to any milliseconds.
[code]
[Other available props](https://facebook.github.io/react-native/docs/touchablewithoutfeedback#delaylongpress)

[2018-12-11 11:58] #1031 closed

[2018-12-12 07:16] ajaykumar97 commented on #850
I am facing some performance issues. For few messages, it is working good. But after few messages, it takes while to send message. I mean, when I press the send button, it takes a while to list that message into the messages list. Please help me if anyone knows the solution.

[2018-12-12 08:27] iamkaustubh1019 opened #1036 "undefined is not a function(evaluating '_iterator[typeof Symbol === "function"?Symbol.iterator:"@@iterator"]()')"
#### Issue Description

[FILL THIS OUT]

#### Steps to Reproduce / Code Snippets

[FILL THIS OUT]

#### Expected Results

[FILL THIS OUT]

#### Additional Information

* Nodejs version: [FILL THIS OUT]
* React version: [FILL THIS OUT]
* React Native version: [FILL THIS OUT]
* react-native-gifted-chat version: [FILL THIS OUT]
* Platform(s) (iOS, Android, or both?): [FILL THIS OUT]

[2018-12-12 20:14] nandiniparimi1107 opened #1037 "Unable to make n/w call from onSend. This is not getting resolved"
#### Issue Description

I am not able to make a n/w call from onSend.

Code :
 <GiftedChat
        messages={this.screenstore.castMessagesToGiftedChat}
        onSend={this.onSendPressed}
        user={{
          _id: this.userStore.loggedInUser.zynga_account_id,
        }}
        imageStyle={{}}
      />

 onSendPressed(messages = []) {
    this.screenstore.sendMessage(messages[0].get('text'));

[2018-12-13 15:10] asharamseervi opened #1039 "Can I use gifted chat with any XMPP Framework or Firebase? How !"
Hello Community !!
This is same silly how-to question, you deal often, but I explored first, and nowhere mentioned such things. Can you point me to correct doc? Question is:

Can i use Gifted Chat any XMPP Frameworks like Openfire/eJabber/MongooseIM or any other framework? I saw some queries related Firebase, but i hadn't got any docs, how to add integrate these? I can I add backend?

[2018-12-14 06:34] hanishcodebrew opened #1040 "In iOS keyboard covers the Bottom TextInput, Randomly"
#### Issue Description

Hello Team,

First of all, I would like to thank you for this awesome and useful package. I am using it in one of my project. Sometimes, when I open the keyboard in iOS app, it covers the bottom TextInput. This issue is random. I have checked it on every device.

#### Steps to Reproduce / Code Snippets

Open the keyboard in iOS app. Try it multiple times. It does not happen

[2018-12-15 16:33] KevinColemanInc commented on #846
I am not able to run the example either.
`$ yarn install` completes successfully, but `$ react-native run-ios` does not.

I tried removing the `.babelrc` file

If you run `$ npm install`, everything in the directory is deleted.

[2018-12-15 19:59] iamkaustubh1019 commented on #1036
I got the solution
I had the same issue while using firebase just add this to index.js
global.Symbol = require('core-js/es6/symbol');
require('core-js/fn/symbol/iterator');
require('core-js/fn/map');
require('core-js/fn/set');
require('core-js/fn/array/find');

[2018-12-17 11:33] nikolal commented on #654
@webraptor

Can you explain your solution? I have similar issue.

[2018-12-17 22:10] nandiniparimi1107 commented on #680
Its not working for me. I tried using KeyboardAvoidingView but still keyboard overlaps the text input

[2018-12-17 22:46] brunokiafuka commented on #680
Hi @nandiniparimi1107, here are the properties I've used in one of my projects and it's been working fine for both android and ios:

[code]

[2018-12-17 23:07] nandiniparimi1107 commented on #989
What about the ejected apps? This solution only works for expo.

[2018-12-18 09:50] zSergeant opened #1044 "How to clear the value of TextInput"
#### Issue Description

[FILL THIS OUT]

#### Steps to Reproduce / Code Snippets

[FILL THIS OUT]

#### Expected Results

[FILL THIS OUT]

#### Additional Information

* Nodejs version: [FILL THIS OUT]
* React version: [FILL THIS OUT]
* React Native version: [FILL THIS OUT]
* react-native-gifted-chat version: [FILL THIS OUT]
* Platform(s) (iOS, Android, or both?): [FILL THIS OUT]

[2018-12-18 17:11] asharamseervi commented on #1039
Hello @FaridSafi, Any updates?

[2018-12-19 14:38] brortao commented on #1039
Yes. You'll need to implement an XMPP client -- for an example, see e.g. [converse.js](https://github.com/conversejs/converse.js). It uses [strophe.js](http://strophe.im/strophejs/), which is probably the most mature XMPP library for Javascript. You can then use gifted chat to display the messages as you like.

It shouldn't matter which XMPP server you use for the backend.

[2018-12-19 21:01] Mrezagolbaba opened #1045 "how to edit position message for user"
how to change position for Bubble left and right

[2018-12-20 01:42] nandiniparimi1107 commented on #799
But what if other screens need adjust pan? I dont think its feasible to just change the manifest file

[2018-12-20 01:51] nandiniparimi1107 commented on #334
Is this fixed yet?

[2018-12-20 09:03] xcarpentier opened #1048 "Too large list of message fail to display"
#### Issue Description

Too large list of message fail to display

#### Steps to Reproduce / Code Snippets

try a big list of message

#### Expected Results

Seeing something

#### Additional Information

* Nodejs version: 10
* React version: 16
* React Native version: 0.57
* react-native-gifted-chat version: 0.5.0
* Platform(s) (iOS, Android, or both?): both

[2018-12-20 11:26] jsartisan opened #1049 "Is it possible to remove animation of lightbox?"

[2018-12-20 23:55] nandiniparimi1107 opened #1050 "Fixed the keyboard issue on android without adjustResize on manifest"
There are a bunch of issues around keyboard pushing up the toolbar /  not having to hardcode adjustResize on the manifest since other screens might need to have adjustPan etc.

I am finally able to crack it without updating manifest file or importing an outdated library.
@FaridSafi how can i incorporate my changes and contribute to this project? My changes include adding bridge code.

[2018-12-21 04:18] jsartisan commented on #1049
passing
`
lightboxProps={{
   springConfig: {
   tension: 90000,
    friction: 90000
  }
}}
`

[2018-12-21 04:18] #1049 closed

[2018-12-24 14:44] Parthasarath opened #1051 "How to integrate TwilioChatJsReactNative in to react-native-gifted-chat?"
#### Issue Description

[FILL THIS OUT]

#### Steps to Reproduce / Code Snippets

[FILL THIS OUT]

#### Expected Results

[FILL THIS OUT]

#### Additional Information

* Nodejs version: [FILL THIS OUT]
* React version: [FILL THIS OUT]
* React Native version: [FILL THIS OUT]
* react-native-gifted-chat version: [FILL THIS OUT]
* Platform(s) (iOS, Android, or both?): [FILL THIS OUT]

[2018-12-26 10:55] dekameron22 commented on #975
+1

[2018-12-26 19:32] rubencodes commented on #644
@Faolain Ah, I was thinking of doing something like this too, to render a custom attachment. Glad to know it works!

[2018-12-27 20:34] nandiniparimi1107 commented on #170
@kfiroo could you please provide example code for renderFooter. This is my code:
<GiftedChat
        messages={this.giftedChatMessages}
        onSend={this.onSend}
        renderAvatar={null}
        renderChatFooter={this.renderFooter}
        onInputTextChanged={this.onInputTextChanged}
        user={{
          _id: this.userStore.loggedInUser.zynga_account_id,
        }}
        imageStyle={{

[2018-12-27 20:37] nandiniparimi1107 opened #1052 "renderFooter is not getting triggered on typingText update"
Could someone please provide example code for renderFooter. This is my code:
[code]
Even if this.opponentIsTyping is updated, renderFooter is not getting triggered. Hence " User is typing" footer is not showing up.

Please help me with this.

[2018-12-27 22:20] leonyhenn commented on #618
I just found an easy fix. Fork this repo, and in GiftedChat.js, instead of using this._messages and this.getMessages() to update messages to MessageContainer, you set a state (like this.state_messages) and call setState in componentDidMount(and comment out this.setMessages())

the bug of tick not rerendering on receive is due to this._messages and this.getMessages() do not rerender the GiftedChat

[2018-12-27 22:21] leonyhenn commented on #390
I just found an easy fix. Fork this repo, and in GiftedChat.js, instead of using this._messages and this.getMessages() to update messages to MessageContainer, you set a state (like this.state_messages) and call setState in componentDidMount(and comment out this.setMessages())

the bug of tick not rerendering on receive is due to this._messages and this.getMessages() do not rerender the GiftedChat

[2018-12-28 00:42] alexandregiordanelli commented on #606
is there a solution?

[2018-12-28 07:31] EbrahimiM opened #1053 "How to add the attach button, the video button and the microphone button next to the text field"
First of all, I would like to thank everyone who is trying to develop this software and In advance I apologize if my question is simple and obvious

I want to add the attach button, the video button and the microphone button next to the text field like WhatsApp.

Would you please guide me how to do this?
is there any sample how doing that?

thank you very much for taking the time to answer my ques

[2018-12-28 08:41] greenkeeper[bot] opened #1054 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.11.1` to `7.12.0`.

🚨 [View failing branch](https://github.com/FaridSafi/react-native-gifted-chat/compare/master...FaridSafi:greenkeeper%2Feslint-plugin-react-7.12.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed

[2018-12-28 08:57] anhtukhtn commented on #938
I did it with v0.4.3 ,when gifted-chat used `InvertibleScrollView`. It uses `FlatList` in v0.5 now.
So my solution maybe not work anymore.

If you still use v0.4.3. You can see more detail from forked repo
https://github.com/anhtukhtn/react-native-gifted-chat/commit/8408a24f41fd8f2c14902c9681094c375919821b
https://github.com/anhtukhtn/react-native-invertible-scroll-view/commit/fa7ee55ffcb08809b9a3

[2018-12-29 15:47] rocksinghajay opened #1055 "How to add the attach button, the video button and the microphone button next to the text field"
#### Issue Description

[FILL THIS OUT]

#### Steps to Reproduce / Code Snippets

[FILL THIS OUT]

#### Expected Results

[FILL THIS OUT]

#### Additional Information

* Nodejs version: [FILL THIS OUT]
* React version: [FILL THIS OUT]
* React Native version: [FILL THIS OUT]
* react-native-gifted-chat version: [FILL THIS OUT]
* Platform(s) (iOS, Android, or both?): [FILL THIS OUT]

[2018-12-29 15:47] #1055 closed

[2018-12-29 23:23] asisnett opened #1056 "Integration of Microsoft Adaptive Cards"
#### Issue Description
I'm wondering if anyone has had success in integrating Microsoft Adaptive Cards https://adaptivecards.io/. Microsoft has released a react native rendering of adaptive cards but wasn't sure if anyone has had success integrating that with Gifted Chat https://github.com/Microsoft/react-native-adaptivecards.

[2018-12-30 08:09] EbrahimiM opened #1057 "get user's Location"
Dear Sir,
Would you please, how I can get user's Location in Gifted Chat?
In advance thank you for your help.
Whit best Regards

[2018-12-30 14:48] vahid13666 commented on #1052
As you can see the library and docs you should use "renderFooter" except "renderChatFooter".

I'm working on my project to handle the typing.... so if I could do it. I'll put some part of my code here.

  setCustomText(messages) {
    this.setState((previousState) => {
      return {
        typingText: 'typing....'
      };
    });
    if (messages.text !== null) {
      this.renderFooter()
    }

[2018-12-30 14:51] vahid13666 commented on #267
actually there is no place for renderModal, you can play the function of renderAction

[2018-12-30 20:11] nandiniparimi1107 commented on #1052
@vahid13666 I got it to work!
However, it doesn't work with renderFooter, it works with renderChatFooter only.
Let me know if you need the code snippet

[2018-12-30 20:50] vahid13666 commented on #1052
@nandiniparimi1107 this is my pleasure if you can send me sample code. I really need it

[2018-12-30 20:53] nandiniparimi1107 commented on #1052
[code]

[2018-12-30 20:54] vahid13666 commented on #1052
thanks dude

On Mon, Dec 31, 2018 at 12:23 AM nandiniparimi1107 <notifications@github.com>
wrote:

[2018-12-30 20:55] nandiniparimi1107 commented on #1052
But honestly, this is not what we both need. As chatFooter will show typing indicator on scroll. We need to get renderFooter to work. I would really appreciate if @xcarpentier @FaridSafi  can please please help

[2018-12-30 20:55] vahid13666 commented on #1052
If I can solve it by tonight I'll send you my code sample

[2018-12-31 00:14] nandiniparimi1107 commented on #957
@shaheem-khanzada Do you have a working example for renderFooter ?

Apparently, renderFooter does not get triggered on state change, I have been struggling with this for a week now.
Here is the code :
[code]

[2018-12-31 01:59] nandiniparimi1107 commented on #1052
@vahid13666 I got it man!

Its because the flatlist does not re-render on update, we need to explicitly pass props to let flatlist know when to update. I have created a PR for fixing this, lets see if @xcarpentier can merge it

[2018-12-31 07:48] nandiniparimi1107 commented on #644
is there a way to not show timestamp on messages?

[2018-12-31 11:08] xcarpentier commented on #1056
Seems really cool !

You can custom message already (ie renderMessage)

[2018-12-31 11:13] mafiusu commented on #644
Yes! You have to provide a renderTime prop to the GiftedChat component and there you have to return null to not show the time. For example:

[code]

[2018-12-31 16:12] nandiniparimi1107 commented on #644
mafiusu Thanks that works!

Also, could you please let me know if there is a way to add backgroundImage on chat Bubble?
I need to use different images for two users

[2018-12-31 21:55] nandiniparimi1107 opened #1059 "When is the next release?"
I am eagerly waiting for the next release. @xcarpentier when will that be?

[2019-01-01 07:18] nandiniparimi1107 commented on #268
is there a way to add background image on the bubble?

[2019-01-01 07:20] nandiniparimi1107 opened #1061 "Adding a background image on chat bubble?"
How to add a background image on a chat bubble?
I need to add my own image as background,

[2019-01-01 11:30] mafiusu commented on #1061
This feature is still not supported by the GiftedChat component. You have to extend the codebase a little bit. When I have time, I'll take a look at it this evening :)

[2019-01-01 11:35] mafiusu commented on #1057
Get users location is not handled by the GiftedChat component. You have to look at the React Native docs under Geolocation.

https://facebook.github.io/react-native/docs/geolocation

[2019-01-01 14:54] EbrahimiM commented on #1057
I really appreciate you taking the time to respond me.

[2019-01-01 15:07] EbrahimiM opened #1062 "push notification"
Dear Sir,
I'm looking for a solution to send a message or a photo to the user as Push Notification.
I found https://github.com/zo0r/react-native-push-notification.
If there is a better solution, would you please introduce it to me?
In advance I appreciate for your help.

Whit best Regards

[2019-01-01 15:23] EbrahimiM opened #1063 "Re-display messages to the user after re-login"
Dear Sir,
As you know, messages are erased when user log out of the chat application. In order for the user to see his last messages after re-login the application, I am investigating whether SQLite is a suitable method for storing and displaying messages (text, Image and Map). If there is a better solution, would you please introduce it to me?
In advance I appreciate for your help.

Whit best Reg

[2019-01-02 02:47] Faolain commented on #846
Same issue, example does not run

[2019-01-02 04:53] nandiniparimi1107 commented on #1061
@mafiusu please let me know or give some suggestions  to fix it.

[2019-01-02 23:13] jsochurek commented on #1050
can you share your code?

[2019-01-03 14:12] xcarpentier commented on #1062
Sorry but this package can’t help you about this.

[2019-01-03 14:12] #1062 closed

[2019-01-03 14:13] xcarpentier commented on #1063
Sorry but this is not thé place to ask this such of issue. Please try stackoverflow.

[2019-01-03 14:13] #1063 closed

[2019-01-03 15:34] karltaylor commented on #860
+!

[2019-01-03 17:00] xcarpentier commented on #1059
Sorry this is not an issue :/
But I will try to publish next week.
And you can use master BTW.

[2019-01-03 17:00] #1059 closed

[2019-01-03 17:01] #1057 closed

[2019-01-03 17:02] #1054 closed

[2019-01-03 18:15] graphee-gabriel opened #1065 "Feature Request: set MAX_COMPOSER_HEIGHT in the props"
#### Issue Description
Feature Request

#### Steps to Reproduce / Code Snippets
Write a long text. Right now the text input grows too big on some screens

#### Expected Results
Be able to limit the height the input can grow to by setting a prop maxComposerHeight.

[2019-01-03 21:17] nandiniparimi1107 commented on #1050
Hey there @jsochurek ,
I added a bridge method which can be called on every screen you want the soft input mode to be changed. That way you don't need to hardcode the resize option in the manifest file.

Something like this :
[code]

[2019-01-04 00:08] jaspervanbrian opened #1066 "onInputTextChanged behavior"
#### Issue Description

I want to cache my `textMessage` in a Redux store, so I included the `text` prop in Gifted chat with the value of the `textMessage` prop in the store, with `onInputTextChanged` prop on the Gifted Chat, but it clears when it is initially rendered.

Same as Issue #603

[2019-01-04 09:33] moschap opened #1067 "How can i implement transient quick reply buttons"
I am using Gifted Chats for a Chatbot, and there is a functionality that i want to design, to make the conversation as controlled as possible i want to design a transient quick reply button, like what is available in
[Facebook Messenger](https://developers.facebook.com/docs/messenger-platform/send-messages/quick-replies), i have tried to add the quick reply button directly in a chat bubble but it

[2019-01-05 21:37] jaspervanbrian commented on #214
Has this been fixed? My use case is when I receive a new message from the websockets, I trigger an action that will fire to Redux, and will append to the messages array, but you need to scroll it first before appearing. It is frustrating, really.

[2019-01-06 06:41] ronastlelobo commented on #554
yeah, did you figure it out ? @brunocascio

[2019-01-06 06:51] ronastlelobo opened #1068 "How can i show pdf file sent in the chat screen ?"

[2019-01-06 12:03] NicWickman commented on #268
I would also like to add an image as the background. Maybe using React's BackgroundImage component?

[2019-01-06 13:41] alexbowers commented on #554
I figured this out by using a Custom View copied from the Image View, and having the PDF have a preview of an image for them to click. When clicking I opened the link on Google Docs with their PDF preview link.

[2019-01-06 13:44] ronastlelobo commented on #554
Could you please share the code.

[2019-01-06 16:57] alexbowers commented on #554
I have this:

[code]

and then `renderCustomView` is defined as

[code]

Then in the CustomView I have:

[code]

[2019-01-07 12:37] Osama92 commented on #435
use yarn add react-native-keyboard-spacer or npm install react-native-keyboard-spacer.

[2019-01-07 14:18] hzaiem opened #1071 "Warning on iOS simulator when chat screen loaded"
Warning : Failed child context type: Invalid child context 'virtualizedCell.cellKey' of type 'number' supplied to 'CellRenderer', expected 'string' appears after opening the chat screen.

[FILL THIS OUT]

FlatList keyExtractor must return a string on MessageContainer.js 👍

<FlatList
          ref={(ref) => (this.flatListRef = ref)}
          keyExtractor={(item) => String(item._id)}

instead of :

[2019-01-07 14:55] hzaiem commented on #1071
@lmuntaner yeah i agree with you need to be fixed on the API though.

[2019-01-07 19:19] jaspervanbrian commented on #1059
Please release!

[2019-01-08 00:10] nandiniparimi1107 commented on #368
@simjoh but adding bottomOffset is applying the offset in iphone 7 as well.
Is there a way to apply the bottomOffset only in case of iphone X?

[2019-01-08 00:16] nandiniparimi1107 opened #1073 "Bottom Offset applies to other iphones as well."
#### Issue Description
If we wrap giftedchat component in safeAreaView , it adds a space between keyboard and inputtoolbar on keyboard open.

To solve this issue if we add bottomOffset the bottomOffset also applies to other iphones( i.e., iphone 7 etc).

How do we add bottomOffset only if its iphone X?

[2019-01-08 07:03] IsharaHansaka commented on #1011
did u try minHeight? that will fix your problem.

[2019-01-08 08:09] ramon90 commented on #951
I am having the same issue it is not fixed in rn v0.57.7

[2019-01-08 15:25] alvincrespo opened #1074 "As a developer, I should be able to extend InputToolbar"
#### Issue Description

I'm currently extending InputToolbar but am running into TypeScript issues because InputToolbar is not a generic

#### Steps to Reproduce / Code Snippets

[code]

Gives you this error:

[code]

#### Expected Results

[code]

Should be updated as a generic to allow for extending GiftedChats input tool bar properly.

#### Additional Information

* Nodejs version: v10.11.0
* R

[2019-01-08 16:47] nandiniparimi1107 commented on #1059
@xcarpentier please let us know when will be the next release

[2019-01-08 22:39] nandiniparimi1107 opened #1075 "When is the next release date?"
@xcarpentier Please let us know when the next release would be.

[2019-01-09 14:10] xcarpentier commented on #1075
Done [v0.6.0](https://github.com/FaridSafi/react-native-gifted-chat/releases/tag/v0.6.0)

[2019-01-09 14:10] #1075 closed

[2019-01-09 14:21] xcarpentier commented on #1065
Done [v0.6.0](https://github.com/FaridSafi/react-native-gifted-chat/releases/tag/v0.6.0)

[2019-01-09 14:21] #1065 closed

[2019-01-09 14:28] #1036 closed, assigned to nobody

[2019-01-09 14:32] #236 closed

[2019-01-09 14:33] #237 closed

[2019-01-09 14:33] #241 closed

[2019-01-09 14:34] #247 closed

[2019-01-09 14:46] xcarpentier commented on #1059
Done [v0.6.0](https://github.com/FaridSafi/react-native-gifted-chat/releases/tag/v0.6.0)

[2019-01-10 03:46] ManuRodgers opened #1077 "how can I change the default timezone en to Australia timezone? the locale prop seems like not working"
#### Issue Description

[FILL THIS OUT]

#### Steps to Reproduce / Code Snippets

[FILL THIS OUT]

#### Expected Results

[FILL THIS OUT]

#### Additional Information

* Nodejs version: [FILL THIS OUT]
* React version: [FILL THIS OUT]
* React Native version: [FILL THIS OUT]
* react-native-gifted-chat version: [FILL THIS OUT]
* Platform(s) (iOS, Android, or both?): [FILL THIS OUT]

[2019-01-11 10:54] xcarpentier commented on #1077
Please fill the issue description. Thanks.

[2019-01-11 16:16] MamyChow opened #1079 "GiftedChat can't call setState on an unmount component"
#### Issue Description
Hi,
I made a chat screen and if i unmount the component, then come back on chat screen and click on giftedChat textInput i got a warning because i can't call setState on unmounted component
If someone know why i got this and have any solution, i'll take it.

Thank

#### Steps to Reproduce / Code Snippets
1/ This is my screen to select chat, i click on Kendall
<img width="323

[2019-01-12 11:18] nubeble commented on #1079
That's a exactly same issue on me.

[2019-01-12 19:50] smnodame opened #1080 "Does the renderSystemMessage work in react-native-web"
#### Issue Description

I tried to use renderSystemMessage for react-native-web, but it do nothing and doesn't call my function anyway. I looked in the library, I did not see this function in propType

#### Additional Information

* Nodejs version: [8.10.0]
* React version: [16.3.1]
* React Native version: [0.55.2]
* react-native-gifted-chat version:
    - react-web-gifted-chat": "^0.1.3"
    - re

[2019-01-13 13:59] #1080 closed

[2019-01-13 19:19] Kyonru commented on #1045
Every message has a property named user.
And the gifted-chat has a props name user, if they both has the same `_id`, the message will be displayed on the left or the right

[2019-01-14 10:18] xcarpentier commented on #1079
Hi,
Sorry about that...
Can you please copy and paste here the code of `ChatScene.js` (around line 167 or more if possible?)
Thanks ;)

[2019-01-14 12:15] MamyChow commented on #1079
Hi @xcarpentier ,
I found that i have the warning if the message props is an empty array but i don't know why it throw a warning.
This is a part of my code:

`class ChatScene extends Component {
 renderComposer (props) {
   return <Composer {...props} textInputStyle={{marginLeft: diago * 0.13}} />
  }

  render() {
    console.log(this.state.tabNumber)
    return (
      <View style={{flex: 1, bac

[2019-01-14 13:30] litufu commented on #1079
That's a exactly same issue on me.

[2019-01-14 22:31] ManuRodgers opened #1081 "how can I only render 3 messages at once and I can scroll list view to see other messages"
#### Issue Description
I am working on a chat app with React Native and my boss wants to have the result that only show three or four messages at once just like what Instagram does.
[FILL THIS OUT]

#### Steps to Reproduce / Code Snippets

[
![image](https://user-images.githubusercontent.com/33333844/51145352-b3ffc680-18a7-11e9-9c3f-7a2987a3b420.png)
the picture is the current result
FILL THIS OUT

[2019-01-15 12:49] wizebin commented on #559
I experienced a similar issue today with a non-chat related app, check your android settings for a font size setting, I found that setting the font size to "small" (which is actually the default font size) will "fix" this issue for me, anything larger seems to have issues being displayed.

For me it seems to be a react native issue, I'm guessing something to do with font size calculation not takin

[2019-01-15 16:18] konclave opened #1082 "Load earlier messages by pull"
#### Issue Description

Now there's a way to add load earlier button at the top of the messages list, or refresh list by passing `onRefresh and refreshing` props to FlatList via `listViewProps`.
In the second case refresh will be done on pulling list from the bottom to the top.

Is there a way to keep inverted FlatList, but load earlier messages by scroll to the earliest message loaded (at the ver

[2019-01-15 21:09] realKfiros opened #1083 "Syntax error on web"
#### Issue Description

When I try to run it on web (react-native-web) I get a syntax error.

[code]
I don't know why this problem exists as I tried earlier versions on the web and also this version on Android and it worked perfectly.
I checked the GiftedChat.js file and it seems to be fine.

#### Additional Information

* Nodejs version: 8.10.0
* React version: 16.7.0
* React Native version: 0.57

[2019-01-15 21:59] realKfiros commented on #1083
Works perfectly on [```react-web-gifted-chat```](https://github.com/stermedia/react-web-gifted-chat)

[2019-01-15 21:59] #1083 closed

[2019-01-16 09:39] greenkeeper[bot] opened #1084 "An in-range update of @types/react is breaking the build 🚨"
## The devDependency [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.7.18` to `16.7.19`.

🚨 [View failing branch](https://github.com/FaridSafi/react-native-gifted-chat/compare/master...FaridSafi:greenkeeper%2F%40types%2Freact-16.7.19).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-01-16 11:36] tapz commented on #435
@Osama92 For me react-native-keyboard-spacer just adds a keyboard size gap between the chat and the keyboard.

[2019-01-16 16:32] inceptivetech opened #1086 "attachments appending twice."
#### Issue Description

When user send the attachments like picture, video and recording, lastly send attachment are appending twice in chat at the sender as well as receiver side. The attachment are sending to the firebase one time as well as get the attachment is also one time but rendering attachment twice. I have attached the chatscreen.zip file below.

#### Steps to Reproduce / Code Snippets

[2019-01-16 16:46] evertonco commented on #1079
This is exactly expected behavior.

If you are making an async request to get messages and call setState when screen component becomes unmounted, you see this message. This is only warning.

You can prefer to use redux to store your messages and avoid this warning. Alternatively, you can check if screen is mounted before you call setState.

[2019-01-16 16:53] evertonco commented on #1086
Maybe you are appending messages to store twice and problem is not related to this code piece.

[2019-01-16 16:55] evertonco commented on #1082
Have you try wrap GiftedChat on ScrollView component and implement refresh control on ScrollView?

[2019-01-16 17:02] evertonco commented on #1061
Just wrap Bubble component on ImageBackground component on renderBubble prop.

[code]

[2019-01-16 17:17] evertonco commented on #1053
You have to use render functions provided by GiftedChat. In your case, use renderComposer and renderSend.

General example:

import { Composer } from 'react-native-gifted-chat'

...
renderComposer = props => {
  return (
    <View style={{flexDirection: 'row'}}>
      <Composer {...props} />
      <CustomImageButton />
      <CustomAttachButton />
    </View>
  );
}

renderSend = props => {

  if

[2019-01-17 08:45] konclave commented on #1082
@evertonco wrapping GiftedChat into ScrollView doesn't give me control on on scroll position inside GiftedChat. I can't keep list position when new messages are loaded and added to the list.

[2019-01-17 16:21] tapz commented on #578
At least without Expo KeyboardSpacer just duplicates the behaviour in Android. I'm still seeing the keyboard covering the textinput randomly in Android. Would really, really like to have a solution to this.

[2019-01-17 20:56] johniak commented on #1015
I tried to fork and modified gifted chat to work in web (ReactJS)
You can find it there:

https://github.com/johniak/react-web-gifted-chat

[2019-01-18 09:52] piggy2303 opened #1087 "auto scroll down when scroll up (only in android 9)"
#### Issue Description

my code work well in android 8.1
but today i upgrade my phone to android 9 and have this bug

i have ~ 151 mess in my screen when i scroll up to read more mess is auto scroll down ,

* React version: 16.4.1
* React Native version: 0.56.0
* react-native-gifted-chat version:  0.4.3
* Platform(s) (iOS, Android, or both?): only on android 9

[2019-01-21 07:21] nubeble opened #1089 "How can I set the keyboard theme to dark?"

[2019-01-21 07:39] JinChengSu opened #1090 "Stuck with many chat"
#### Issue Description

[FILL THIS OUT]

#### Steps to Reproduce / Code Snippets

[FILL THIS OUT]

#### Expected Results

[FILL THIS OUT]

#### Additional Information

* Nodejs version: [FILL THIS OUT]
* React version: [FILL THIS OUT]
* React Native version: [FILL THIS OUT]
* react-native-gifted-chat version: [FILL THIS OUT]
* Platform(s) (iOS, Android, or both?): [FILL THIS OUT]

[2019-01-22 01:38] Manrajparmar opened #1093 "Unable ti import video component from react native video library after import react native gifted chat"
#### Issue Description

[FILL THIS OUT]

#### Steps to Reproduce / Code Snippets

[FILL THIS OUT]

#### Expected Results

[FILL THIS OUT]

#### Additional Information

* Nodejs version: [FILL THIS OUT]
* React version: [FILL THIS OUT]
* React Native version: [FILL THIS OUT]
* react-native-gifted-chat version: [FILL THIS OUT]
* Platform(s) (iOS, Android, or both?): [FILL THIS OUT]

[2019-01-22 06:01] adilosa commented on #1093
Also hit this issue after upgrading to Gifted Chat 0.6.0

Issue Description

I have react-native-video installed separately for use elsewhere in the app.

Upgraded to Gifted Chat 0.6.0, started getting red screen error saying "Tried to register two views with the same name RCTVideo".

Changed react-native-video version from 4.0.1 --> 3.2.1 to match Gifted Chat dependency. Issues persisted.

Steps

[2019-01-22 06:09] adilosa commented on #1093
Uninstalling react-native-video fixes the crash. Ideally, a fix would allow for both react-native-video and react-native-gifted-chat to be installed at the same time.

[2019-01-22 22:59] msqar commented on #1040
Hey, not related to this but im new to this package as well, can you tell me how to modify that whole input text? and adding those actions too? do you have a working example? Also, i noticed it looks weird and i had to add a bottomOffset on Platform.OS 'ios', because on iPhone X + looks quite weird when opening the keyboard.

[2019-01-23 00:01] msqar opened #1097 "[Help] Customize on toolbar not working"
This isn't an issue at all, but i'm super lost, i can't find a tutorial on how to customize my overall chat, maybe there are docs about it but couldn't find it on the repository. I did what I could by following different questions here, but even though i tried to setup my own renderInputToolbar is still showing the default one.

I'd like to have like in Whatsapp where you have on the right side a

[2019-01-23 00:06] msqar commented on #874
Any tutorial on how you achieved that look & feel? i'm super lost! :/

[2019-01-23 00:58] msqar commented on #662
@nadbm is it me or this isn't working at all for me? :/ i attempted adding any style you can imagine, but i'm still getting the default theme. Why could that be? I did exactly what you said there.

[2019-01-23 07:05] Parthasarath commented on #1045
But
messages: [
    {
        _id: 1,
        text: ‘Hi developer',
        createdAt: new Date(),
        user: {
            _id: "sarathy",
            name: 'React Native’
        },
    },
    {
        _id: 2,
        text: ‘Hello developer',
        createdAt: new Date(),
        user: {
            _id: "partha",
            name: 'React Native',
           },
    },
    {
        _id: 3,

[2019-01-23 07:30] shaheem-khanzada opened #1098 "FlatList spaces between newly added messages [bug]"
![screenshot_20190123-122706 1](https://user-images.githubusercontent.com/37620819/51590097-a337fc00-1f0a-11e9-8b9b-e3a7d9c86c98.png)

[2019-01-23 07:34] Parthasarath commented on #912
I'm also facing this issue,Did u resolve it?@willdady

[2019-01-23 07:47] Parthasarath commented on #1098
const COMPOSER_HEIGHT = 60;

****
renderInputToolbar(props) {
   return <InputToolbar {...props} containerStyle={[styles.inputToolBar]} />;
}

renderComposer(props) {
   return <Composer
             {...props}
             placeholder={'Type a message...'}
             placeholderColor={'#BCBCBC'}
             textInputStyle={styles.composerText}
          />;
}

****

<GiftedChat
  composerHeigh

[2019-01-23 08:18] shaheem-khanzada commented on #1098
have you also faced same issue ??

[2019-01-23 08:32] Parthasarath commented on #1098
Yes

[2019-01-23 08:32] shaheem-khanzada commented on #1098
i am still facing i set both composerHeight={COMPOSER_HEIGHT}
minInputToolbarHeight={COMPOSER_HEIGHT} but noting happens

[2019-01-23 08:36] Parthasarath commented on #1098
render() {
 const COMPOSER_HEIGHT = 60;
return (
 <GiftedChat
                        composerHeight={COMPOSER_HEIGHT}
                        minInputToolbarHeight={COMPOSER_HEIGHT}
                        messages={this.state.messages}
                        onSend={messages => this.onSend(messages)}
                        user={{ _id: this.state.customerId }}
                        />
) }

T

[2019-01-23 08:37] erez-guesty commented on #951
any update?

[2019-01-23 08:47] shaheem-khanzada commented on #1098
noting happens i guess its not problem with composer height its problem with flatList

[2019-01-23 08:54] inceptivetech opened #1099 "When user sends the image or video it displaces at receiver side."
#### Issue Description
When the sender sends the image or video it display at the receiver side. It should be at the sender side i.e.on right hand side.

#### Steps to Reproduce / Code Snippets

[FILL THIS OUT]

#### Expected Results

[FILL THIS OUT]

#### Additional Information

* Nodejs version: [FILL THIS OUT]
* React version: 16.3.0-alpha.0
* React Native version: 0.55.4
* react-native-gifted-

[2019-01-23 14:10] jonasfrid commented on #912
Same issue here! Anyone found a solution?

[2019-01-23 14:11] jonasfrid commented on #975
+1

[2019-01-23 18:55] iwikal commented on #1079
I'm having this same issue and I really do think it's a bug in GiftedChat. I commented out my only setState call, and it still happens. Again, it's when you mount GiftedChat, unmount it, mount it again and then touch the text input. It only happens like 20% of the time though.
Also, I couldn't get it to happen in version 0.4.6.

[2019-01-23 19:22] BatDroid commented on #654
can there be an example for the feature like sent,pending so we will know how to update a bubble?

[2019-01-23 22:12] willdady commented on #912
Workaround I've used is to not set `inverted` and to reverse the order of the messages array using [lodash's reverse function](https://lodash.com/docs/4.17.11#reverse) before passing it to the `messages` prop.

[2019-01-23 23:18] msqar commented on #874
@anceque can you show me what bottomOffset you put? didn't get the "by the height of bottom safeArea" part.

[2019-01-24 11:55] iwikal commented on #1079
Further investigation reveals that it consistently happens when the `messages` prop is an empty array the first time. So you mount `<GiftedChat messages={[]} />`, unmount, mount it again (with or without messages this time, it doesn't matter), and touch the text input to produce the error.

[2019-01-24 12:37] xcarpentier commented on #1099
Hi,
Are you sure you setup user correctly on Image or Video message?
Best regards

[2019-01-24 12:39] xcarpentier commented on #1098
Hi,
@shaheem-khanzada Can you please make a PR with your code fix?
Thanks

[2019-01-24 15:04] graphee-gabriel commented on #1065
Thank you so much :-)

[2019-01-24 16:03] nubeble opened #1102 "InputToolbar rises up to the top when user types"
I'm using a ejected app (ios) from expo.
Everything was fine before I tested in ios. If I touched the input text, keyboard showed, I typed a letter then the input text jumps to the top.
Does anyone know about this issue?

here's my code.

    <View style={{ flex: 1 }} >
                    <GiftedChat
                        minInputToolbarHeight={56}
                        textInputProps={{

[2019-01-24 17:02] shaheem-khanzada commented on #1098
its not get fixed yet because shouldComponentUpdate do great job with performace but when we remove component should update life cycle it start rendering all messages again  and do not create space

[2019-01-24 23:59] rsmelo92 commented on #951
Apparently fixed on new release 0.58 https://github.com/facebook/react-native/commit/b971c5b

[2019-01-25 02:49] Kyonru commented on #1045
try adding the user who is writting to the giftedChat:

[code]

Every message that has the user's ` _id: 'sarathy'` will be displayed on the right.

[2019-01-25 05:57] inceptivetech commented on #1099
Hi,
thanks for your feedback. We are very sure about user information here, we have checked default text message format for user and same is used in case of audio and video.
We have noticed this issue only with video/audio message with user avatar. When no user avatar is there these messages comes properly for sender and receiver.
Please check attached screenshot

[2019-01-25 12:05] mikenichols commented on #358
I recently ran into this problem when running a `GiftedChat` inside a [storybook](https://storybook.js.org/) example. Apparently, one of `StoryScreen`, `Story`, or `UseCase` was adding a `ScrollView` that I couldn't add the `keyboardShouldPersistTaps="always"` prop to. My solution was to simply remove those components and render the `GiftedChat` directly.

So the comment above that says

is partia

[2019-01-25 21:07] AlicanAkyol opened #1103 "Messages are came as flowingly."
I'm using Gifted Chat. It is so good. But I have a problem. Messages are came as flowingly. For example; if I have 500 messages they are came as flowingly at above to bottom. It is so bad and I have no idea how to do solution for the problem.

[2019-01-26 00:06] #1103 closed

[2019-01-26 15:33] xcarpentier commented on #1102
Can you please test on v0.7.1 and let us know if it's still the case?

[2019-01-26 22:33] 2021debaisen opened #1105 "next.createdAt.getTime is not a function when loading or sending messages"
I think the latest version of Gifted Chat that was updated 7 hours ago broke the entire rendering of messages. I had just updated to 0.7.1 and on loading of my messages from a firebase server, which is passed to redux and then passed as a prop to the messages in gifted chat, I get an error saying

TypeError : next.createdAt.getTime is not a function (In 'next.createdAt.getTime()', 'next.createdAt.

[2019-01-27 01:01] nubeble commented on #1102
I tried with v0.7.1. But still same.

I found out the KeyboardSpacer component cause this issue.
If I remove <KeyboardSpacer> from <GiftedChat> under <View style={{ flex: 1 }} > this issue not happening. But the InputToolBar is not showing when keyboard opened. (But, if I text a letter then It appeared.)

So, have to find more solution for this.

[2019-01-27 16:33] alikazemkhanloo commented on #1066
Same here. seems like this is expected behavior.
I found this in the source code
[code]
I commented out  ` this.notifyInputTextReset(); ` and it worked for me.

I think a PR is needed to check this functionality based on user preference.

[2019-01-28 01:33] dengue8830 commented on #952
same here, i have to wait 4 seconds in order to see the text displayed in the input text

steps:
write something > send > keep writting > `nothing shows in the input text` > keep writing > `after 4 seconds` > text shows in input text

env info
[code]

[2019-01-28 02:00] dengue8830 commented on #952
i fixed changing GiftedChat.js#351 from 100 mills to 0

[code]

[2019-01-28 02:13] dengue8830 commented on #952
it was a debugger problem, fixed stopping remote debugging option -.-

[2019-01-28 03:35] vanhungoz commented on #1093
at the moment, i delete react-native-video in gifted-chat/node-module. i is just a trick

[2019-01-28 06:40] AideProjet opened #1106 "How to add an initial view to the conversation?"
Hi,

Wondering how to add an initial conversation view, like in messenger where you have some introduction text and you can see both avatars.

Thanks,

Théo

[2019-01-28 06:52] MingFaiYau opened #1107 "Message Container missed call 'detatchKeyboardListeners' after unmout"
#### Issue Description
When we create / goto a new chat room, the length of message is 0 ,it will call 'attachKeyboardListeners'.

MessageContainer.js line 30
[code]

And it will call 'detatchKeyboardListeners' after created a new message

MessageContainer.js line 35
[code]

If we don't create a new one and just go back , it won't call 'detatchKeyboardListeners'
and it will get warning if we trigg

[2019-01-28 09:20] xcarpentier commented on #1105
Close with https://github.com/FaridSafi/react-native-gifted-chat/commit/2c915f0281f8475331025f992ad9098c79a01e1a

[2019-01-28 09:20] #1105 closed

[2019-01-28 09:46] xcarpentier commented on #1106
Hi Théo,

You maybe can investigate into `SystemMessage` and `renderMessage` props if it's system is true.

This is not an issue so, I will close it but you can continue to ask here with no problem 👍

[2019-01-28 09:46] #1106 closed

[2019-01-28 09:48] xcarpentier commented on #1107
Close here: https://github.com/FaridSafi/react-native-gifted-chat/commit/d01272e95dcdae2b380a7f77135f1f9e74f3ce75

[2019-01-28 09:48] #1107 closed

[2019-01-28 09:57] xcarpentier commented on #1102
Ok, please let us know ;)

[2019-01-28 11:10] inceptivetech opened #1108 "How to render the timestamp in custom renderBubble ?"
#### Issue Description

When user sends the video or audio, it does not shows the timestamp for that message. after sending the another message, timestamp displays for previous message. We have using the custom renderBubble for video and audio.
#### Steps to Reproduce / Code Snippets

[FILL THIS OUT]

#### Expected Results

Timestamp should displays for the video and audio at the time of sending.

[2019-01-28 11:33] AideProjet commented on #1106
Parfait Xavier, merci! Exactement ce dont j'avais besoin :) Si tu passes sur Bordeaux on a toujours besoin de dev React Native!

Bien à toi,

Théo

[2019-01-28 13:35] xcarpentier commented on #1098
Fixed in [v0.7.2](https://github.com/FaridSafi/react-native-gifted-chat/releases/tag/v0.7.2)

[2019-01-28 13:35] #1098 closed

[2019-01-28 13:36] #1090 closed

[2019-01-28 13:38] xcarpentier commented on #1089
You should investigate into `textInputrops` props and set dark value into it.

Sorry this is not an issue so I will close it but you still can ask questions here 👍

[2019-01-28 13:38] #1089 closed

[2019-01-28 13:38] #1084 closed

[2019-01-28 13:38] #1048 closed

[2019-01-28 14:08] #219 closed

[2019-01-28 14:08] #229 closed

[2019-01-28 14:08] #238 closed

[2019-01-28 14:08] #239 closed

[2019-01-28 14:08] #245 closed

[2019-01-28 14:08] #250 closed

[2019-01-28 14:08] #253 closed

[2019-01-28 14:08] #258 closed

[2019-01-28 14:08] #260 closed

[2019-01-28 14:08] #262 closed

[2019-01-28 14:08] #263 closed

[2019-01-28 14:08] #266 closed

[2019-01-28 14:08] #267 closed

[2019-01-28 14:08] #269 closed

[2019-01-28 14:08] #271 closed

[2019-01-28 14:08] #272 closed

[2019-01-28 14:08] #278 closed

[2019-01-28 14:08] #289 closed

[2019-01-28 14:08] #291 closed

[2019-01-28 14:08] #293 closed

[2019-01-28 14:08] #294 closed

[2019-01-28 14:08] #296 closed

[2019-01-28 14:08] #300 closed

[2019-01-28 14:08] #302 closed

[2019-01-28 14:09] #306 closed

[2019-01-28 14:09] #313 closed

[2019-01-28 14:09] #320 closed

[2019-01-28 14:09] #321 closed

[2019-01-28 14:09] #323 closed

[2019-01-28 14:23] Athinodoros commented on #1087
I also have the same issue. But if I scroll slowly it doesn't scroll to bottom and it also does it the other way... if you try to scroll down fast it scrolls to top and vise versa.

Is this only happening on Android 9 ?

[2019-01-28 14:56] xcarpentier commented on #1079
Can you please upgrade to `0.7.2`. I change some keyboard listener and maybe that fix it.
Please let me know.

[2019-01-28 16:26] mackclark commented on #1108
I am seeing the same issue. I'm using custom renderBubble and custom renderSend for all messages, and I am seeing that the timestamp only appears for the previous received message when the user sends a message. Timestamps for sent messages never appear at all.

[2019-01-29 07:13] inceptivetech commented on #1108
Have you tried any solution for this issue ? If you tried any, please suggest.

[2019-01-29 08:44] #711 closed

[2019-01-29 09:19] #1077 closed

[2019-01-29 11:29] xstable opened #1111 "OutOfMemoryError"
#### Issue Description
Sine upgrading gifted-chat from 0.4.8 to 0.7.2 I got this Error:

[code]

Logcat throw this in front of crashing the App .. so might be caused of OK-HTTP:
[code]

#### Expected Results

No OutOfMemory-Error

#### Additional Information

* Nodejs version: 10.14.1
* React version: 16.6.3
* React Native version: 0.57.8
* react-native-gifted-chat version: 0.7.2
* Platform(s) (iO

[2019-01-29 11:50] muhammadwfa commented on #654
I couldnt find a good solution for updating rngc bubble.
I want to update my bubble message when I click on a button.
example:
when I send audio to someone and when the otherone plays my audio, that specific audio should be updated

[2019-01-29 14:49] xcarpentier commented on #1111
Hi,
Sorry about that.
Do you have more information? Like the moment when this occurred: at start chat, when sending or other?
Thanks

[2019-01-29 22:34] TriinK opened #1113 "How to align message and timestamp to be in a row (and not a column)?"
#### Issue Description

How to add flexDirection: 'row' to <Bubble/> content so that the timestamp would be in row with the message?

#### Expected Results
<img width="197" alt="untitled" src="https://user-images.githubusercontent.com/33719534/51945207-b4ab6780-2426-11e9-832e-a21e0059fba2.png">

[2019-01-30 01:50] jaspervanbrian commented on #1093
Yep same issue here. I also deleted gifted-chat/node-modules/react-native-video dir. **Hoping** to get a solution from you.

[2019-01-30 01:52] vanhungoz commented on #1093
it should work :D

[2019-01-30 04:58] tehwayne commented on #1073
you can use a library like https://github.com/ptelad/react-native-iphone-x-helper#readme to code behavior for the offset

[2019-01-30 15:04] muhammadwfa opened #1114 "bubble messages within renderBubble function can't re-rendered after setState"
**Hi every one, I want to animate a progressbar for every sound message duration when gets played, I have a PLAY ICON for any sound message, when I click on play icon, sound starts as well and I update the progressbar by setState, actually the progress gets update but the problem is my progressbar doesnt re-render to get progress value for progressbar. and also the play icon does not re-render to

[2019-01-31 02:36] saikiranoptisol opened #1115 "how do i get image url on tap of image message?"
Hi,

In my application it is something like i need to display image in thumbnail url in chat screen whose resolution is very less. Now on tap of that large size image has to bs shown by changing the thumbnail key to large in the url of the image.
So, first of all how can i print that url in my JS file and then how to remove thumbnail and add large in the url.
Ex url: https://cloudfrontURL/thumbnai

[2019-01-31 08:32] #325 closed

[2019-01-31 08:32] #347 closed

[2019-01-31 08:33] #352 closed

[2019-01-31 08:33] #357 closed

[2019-01-31 08:34] #359 closed

[2019-01-31 10:13] rodolphefauquez commented on #1087
To everyone still having this bug, it's not related to this library: This is fixed with RN0.58 but i think they already fixed it with a workaround with RN0.57.6 update.

[2019-01-31 10:35] muhammadwfa commented on #1114
Actually I found the problem but still I dont know what is  the solutions,
The problem is with react-native-gifted-chat version 0.7.2
The above code works well on react-native-gifted-chat version 0.4.3

[2019-01-31 17:53] NicholasEli opened #1116 "How to target chat bubble with ref"
This is not a bug, but a question.

I have created a bubble in the renderBubble method and I am trying to attach a reference attribute to each bubble.  But I can not seem to accomplish this event if I assign a reference to the GiftedChat component and tunnel through it.

My main reason for wanting to target the bubble is to return things like x and y position.

[2019-01-31 18:38] muhammadwfa commented on #1116
[code]

[code]

I made something like this but it didnt work for me if this help you please let me.
and also here I have opened an issue if you can help me please let me know

[My Issue](https://github.com/FaridSafi/react-native-gifted-chat/issues/1114)

[2019-01-31 21:38] #674 closed

[2019-01-31 21:39] #606 closed

[2019-02-01 06:08] formaldehydeson commented on #268
ImageBackground component works fine here as well

`
<ImageBackground
    source={...}
    style={{flex: 1}}

    <GiftedChat
      ...props
    />
</ImageBackground>
`

[2019-02-01 09:45] xstable commented on #1111
I mean 0.4.3

It appears after a couple of seconds (30 - 60), after open the chat... but doing nothing inside.
At the moment it seems to work. So I'll have a look at it and report if happend again.

[2019-02-01 09:58] xcarpentier commented on #1111
Ok so close it. Thanks.

[2019-02-01 09:58] #1111 closed

[2019-02-01 15:55] Graymark opened #1117 "message that user sent appear as grey message when reload the app"
#### Issue Description

I have an app which is using Gifted-chat. When i write message in the gifted chat component they appear as sent message (in blue) as normal, but when i reload and call my message during the componentDidMount method, they appear as received message (in grey) even if the user ID is good.

![image1](https://user-images.githubusercontent.com/23309661/52133264-455d8f80-2641-11e9

[2019-02-01 18:54] khushhal commented on #1093
Thanks, i found the alternate solution only if you are not having video in chat you can downgrade the version to use both libraries together
**"react-native-gifted-chat": "^0.4.3"**

But with this video will **not supported** in chat.

[2019-02-02 01:28] enrique26 opened #1118 "How can i fire an onFocus event handler?"
I want to fire a function after the texinput is focused.
there is a way to do this?

[2019-02-02 03:40] Kyonru commented on #1045
@Mrezagolbaba can you provide any example about what you mean with "group chat"? If you are talking about multiple users in the same chat, yeah, there is no problem, because each message should have a different user.

[2019-02-02 07:59] shaheem-khanzada opened #1119 "Update react-native to 0.58 for best performance of flatList and animations"
#### Issue Description

[FILL THIS OUT]

#### Steps to Reproduce / Code Snippets

[FILL THIS OUT]

#### Expected Results

[FILL THIS OUT]

#### Additional Information

* Nodejs version: [FILL THIS OUT]
* React version: [FILL THIS OUT]
* React Native version: [FILL THIS OUT]
* react-native-gifted-chat version: [FILL THIS OUT]
* Platform(s) (iOS, Android, or both?): [FILL THIS OUT]

[2019-02-02 11:08] Mrezagolbaba commented on #1045
@Kyonru is possible with different id about any user?

[2019-02-02 13:50] xcarpentier commented on #1114
Sorry about that.
Maybe try to use `extraData` props?

[2019-02-02 13:51] xcarpentier commented on #1119
react-native is a peer dependency

[2019-02-02 13:51] #1119 closed

[2019-02-02 13:52] xcarpentier commented on #1118
Use `textInputProps `

[2019-02-02 13:52] #1118 closed

[2019-02-02 13:53] xcarpentier commented on #1117
Be sure you still have the same user, you stored the user id in your class, this is not really conventional prefer to store it in state or giving from props.

[2019-02-02 13:53] #1117 closed

[2019-02-02 13:57] muhammadwfa commented on #1114
Hi thank you for replying, could you please let me know how can I use extraData in react-native-gifted-chat?

best regrads

[2019-02-02 14:12] muhammadwfa commented on #1114
@xcarpentier thank you, my problem has solved by adding `extraData={this.state}` to Giftedchat
and now please help me how can I start just one progress at a time?
Because now it gets update but by clicking one sound message all sound message gets update.

[2019-02-02 15:41] muhammadwfa opened #1120 "how to set ID for every bubble message and then update using its ID"
I am going to update bubble messages but i dont know how to update specific message by Id.
Example: in html there is and Id for every tag within a list and if we have to update then we select it by id and then update it.
So how to make a concept like that for react-native-gifted-chat bubble messages?

I tried to use refs with setNativeProps function but did not work.

[code]

_Here I have a chatbo

[2019-02-04 10:13] Graymark commented on #799
Did someone finf a solution to this issue?
I'm developping an app which is using react-native-gifted-chat and i have the same issue

[2019-02-04 20:57] xcarpentier commented on #1120
Hi,
As you posted it in stackoverflow. Close it.

[2019-02-04 20:57] #1120 closed

[2019-02-04 21:00] #1116 closed

[2019-02-04 21:01] xcarpentier commented on #1115
Please use stackoverflow: https://stackoverflow.com/questions/tagged/react-native-gifted-chat

[2019-02-04 21:01] #1115 closed

[2019-02-04 21:01] xcarpentier commented on #1113
Please use stackoverflow: https://stackoverflow.com/questions/tagged/react-native-gifted-chat

[2019-02-04 21:01] #1113 closed

[2019-02-04 21:02] xcarpentier commented on #1068
Please use stackoverflow: https://stackoverflow.com/questions/tagged/react-native-gifted-chat

[2019-02-04 21:02] #1068 closed

[2019-02-04 21:06] #1027 closed

[2019-02-04 21:06] #1079 closed

[2019-02-04 21:07] xcarpentier commented on #1044
Please use stackoverflow: https://stackoverflow.com/questions/tagged/react-native-gifted-chat

[2019-02-04 21:07] #1044 closed

[2019-02-04 21:08] #1021 closed

[2019-02-04 21:08] muhammadwfa commented on #1120
Hi @xcarpentier, please give me an idea in stack overflow there was no one answered me please if you can help me. do not hesited I stucked here.

[2019-02-04 21:20] #952 closed

[2019-02-04 21:22] #818 closed

[2019-02-04 21:22] #922 closed

[2019-02-04 21:30] #930 closed

[2019-02-05 07:14] muhammadwfa commented on #1114
Easy way to understand what is my question play the following video and see what is my problem. https://vimeo.com/315390850

[2019-02-05 07:19] saikiranoptisol opened #1122 "How to display no messages found if messages object is empty."
I was trying to render a view to display 'No messages found' if the messages object is empty.
for this which function i need to use. Currently I tried using renderMessage but got error. i just want to figure it out how this can be achieved

My code is

[code]

In render message my code is :
[code]
I know i'm doing wrong. But i can't be able to find correct result. any suggestions?

[2019-02-05 08:15] xcarpentier commented on #1114
Can you share your code somewhere?

[2019-02-05 09:16] muhammadwfa commented on #1114
**Hi @xcarpentier,**
Now I solved this problem by conditional rendering Also I changed following class and I added
this line: **_`next.audio == current.audio ||`_**

[code]
**I add this condition and please please let me know about performance.
this tree line, I added to my code:**

**_`this.myPro = <Progress.Circle progress={this.state.progress} showsText size={35} />;
this.setState({currentPlaye

[2019-02-05 09:33] muhammadwfa commented on #1114
**my audio message is like this:**

[code]

[2019-02-05 09:39] muhammadwfa commented on #1114
I mean if I put it like this:
`next.audio !== current.audio`
there the last audio message gets render.
but if I put like this:
`next.audio == current.audio`

all audio messages gets render.

[2019-02-05 10:01] iwikal commented on #1079
Nope, still happens.

[2019-02-05 10:52] xcarpentier commented on #1122
Please use StackOverflow: https://stackoverflow.com/questions/tagged/react-native-gifted-chat

[2019-02-05 11:04] saikiranoptisol commented on #1122
for every question i was asking here you are mentioning to check in stackoverflow. But after checking in stackoverflow only i have posted here this. and yes i do have posted the same in stackoverflow as well https://stackoverflow.com/q/54529508/10966893  . please provide proper solution that will do needful for me

[2019-02-05 13:07] xcarpentier commented on #1122
Sorry :/
This is just because this project needs to be cleaned to have a proper updates flow. Too much question in issue is not so good, please understand...

[2019-02-05 13:35] xcarpentier commented on #1079
ok, thanks.
Will investigate when having more time but maybe look at @evertonco proposition : https://github.com/FaridSafi/react-native-gifted-chat/issues/1079#issuecomment-454851547

[2019-02-05 13:40] xcarpentier commented on #1122
Not only check but ask on StackOverflow, I try to drive question on better tools than GitHub issue

[2019-02-05 15:59] Graymark commented on #1117
Indeed i found my mistake, i was'nt passing the good user id

I have another question that you didn't answer in the other "Issue" on gitHub.

How can i have a sticky header at the top of my gifted chat component?
because actually i have a header, but when the keyboard appear the header is moving away from the screen
see [here](https://github.com/FaridSafi/react-native-gifted-chat/issues/799) the s

[2019-02-05 16:53] iwikal commented on #1079
Until then, a workaround is to just never have an empty messages array. I decided to show a default "No messages yet" system message.

[2019-02-06 06:44] saikiranoptisol commented on #1122
@xcarpentier  i agree with what you said but it's more than 8 hrs but i didn't get aby response there in stackoverflow. i need to do it as soon as possible, kindly help

[2019-02-06 09:02] muhammadwfa commented on #1114
Hi, I dont know this line is **send** or **sent**
**`next.send !== current.send` ?**
**`next.sent !== current.sent` ?**

[2019-02-06 09:19] xcarpentier commented on #1114
You are right this is sent:
https://github.com/FaridSafi/react-native-gifted-chat/search?q=sent&unscoped_q=sent

[2019-02-06 09:20] xcarpentier commented on #1114
I will change it...

[2019-02-06 09:22] xcarpentier commented on #1114
https://github.com/FaridSafi/react-native-gifted-chat/commit/a0cba453dccea9f40ee1af9d88048c6efd83dffb

[2019-02-06 11:13] jgbaEmento commented on #1093
maybe it's a 'yarn' problem, I was able to remove this error, simply by removing 'yarn.lock' and remove node_modules and clear yarn cache and re-running yarn install.
`rm yarn.lock && rm -rf node_modules && yarn cache clean && yarn`

[2019-02-06 15:32] xcarpentier commented on #1122
Did you try it: https://stackoverflow.com/a/54550286/1458375

[2019-02-06 20:37] phil-flyclops commented on #598
Still hitting the same issue for iOS on an iPhone X simulator.  RN version 0.57.8, RN Gifted Chat version 0.7.2

[2019-02-06 21:29] phil-flyclops commented on #874
This library gives you a nice interface to get the right value for bottomOffset on iPhoneX and no offset on other phones https://github.com/ptelad/react-native-iphone-x-helper

[2019-02-06 21:29] phil-flyclops commented on #598
Nice solution can be found on this ticket - https://github.com/FaridSafi/react-native-gifted-chat/issues/874

[2019-02-06 22:41] phil-flyclops commented on #368
You can use the getBottomSpace function from this library and feed it into bottomOffset to get the correct spacing, it'll automatically account for iPhone X vs other phones https://github.com/ptelad/react-native-iphone-x-helper/

[2019-02-07 14:04] #1122 closed

[2019-02-07 14:05] xcarpentier commented on #1108
Please ask here: https://stackoverflow.com/questions/tagged/react-native-gifted-chat

[2019-02-08 16:56] Brokray commented on #971
@jbosnjakovic and @saggiyogesh did any of you find a viable solution ?
At the moment, I can easily parse the HTML **but** I can't keep the sweet ParsedText of MessageText.js which allow linkStyle for email, phone and such.

How is it going for you ?

[2019-02-08 17:46] saggiyogesh commented on #971
Forked and implemented Html view to parse / show html in chat view

https://github.com/saggiyogesh/react-native-gifted-chat

[2019-02-09 11:38] gomac commented on #1118
I'd like to do the same thing but my React Native knowledge is in its early stages. It would be greatly appreciated if you could you show how to implement this.

[2019-02-09 15:09] Brokray commented on #971
Fair enough, thanks for your answer.
Sadly I would like to keep `<ParsedText>` and make it work with `<HTMLView >`, however it feels like there is no easy way to do that at the moment.

[2019-02-10 19:15] paolospag opened #1129 "[Android] Error "Value for value cannot be cast from String to Double" on send message"
Hello there,
I developed an app that works fine on iOS and now I want to compile the Android version, but I came across a strange error (see the attachment).

![screenshot_2019-01-28-15-49-31](https://user-images.githubusercontent.com/35046292/52538250-8d329400-2d70-11e9-96f4-cd6b4ac719d6.jpg)

I would like to understand if it is a problem I can solve simply by updating the version of `react-nativ

[2019-02-11 09:14] xcarpentier commented on #1129
Did you try with v`0.7.2`?

[2019-02-11 09:31] paolospag commented on #1129
Hi @xcarpentier
I have not tried it yet, but I will do it in the next days.

In the meantime, I looked for similar issues and found this:
https://github.com/facebook/react-native/issues/23219

Do you think they can be related?

[2019-02-11 09:34] xcarpentier commented on #1129
Yes, I already experienced this weird transformation thing on android.
If it is, there is no reason to keep this issue. Could you please close it?

Thanks

[2019-02-11 09:53] paolospag commented on #1129
No, I don't make any transformation and I can't really explain why it happens.
I'm quite confused... I will try to update from `0.5.0` to `0.7.2` and I will let you know.

[2019-02-11 17:26] paolospag commented on #1129
I understood it is an animation issue, but I don't have any animation on this screen, but in other screens sure.

I do not think that animations in other screens can cause this error...

[2019-02-11 21:18] gomac opened #1132 "How to access TextField's onFocus using textInputProps"
I want to detect when the user clicks/presses the text field, before they enter text. Accessing the onInputTextChanged will only notify me once text is input. I'd like to know before.

Using onFocus seems like the go and I've read that it can be done with textInputProps
[https://github.com/FaridSafi/react-native-gifted-chat/issues/1118]
 but I'm a new to React Native and not sure how to do this. C

[2019-02-12 08:01] xcarpentier commented on #1129
If the other screen is on a stack and comes before the chat it's still in memory (still mounted).

[2019-02-12 09:32] MingFaiYau commented on #1132
you can try [onFocus](https://facebook.github.io/react-native/docs/textinput#onfocus)

[code]

[2019-02-12 09:51] MingFaiYau commented on #1066
I suggest to write a custom composer view and use redux to control the input text.
Use onInputextChanged & text may increase some dummy render times, need use carefully.

[code]

Here are the custom composer view i am using , just copy original code and did some changes
and you can handle "replyText" in your redux action or send action

[2019-02-12 10:55] #1132 closed

[2019-02-12 10:56] #1108 closed

[2019-02-12 10:58] #376 closed

[2019-02-12 10:59] #381 closed

[2019-02-12 10:59] #396 closed

[2019-02-12 11:00] #375 closed

[2019-02-12 11:01] #385 closed

[2019-02-12 11:01] #410 closed

[2019-02-12 11:01] #395 closed

[2019-02-12 11:02] xcarpentier commented on #383
@slorber are you using GC? ;)

[2019-02-12 11:02] #383 closed

[2019-02-12 11:03] #365 closed

[2019-02-12 11:03] paolospag commented on #1129
Oh, I'm sorry for the waste of time...
I found the problem, it's related to the style applied to send button:

[code]
but I don't understand why can not I apply a transformation to the send button?
Is there a workaround?

[2019-02-12 12:18] xcarpentier commented on #1129
no worries

[2019-02-12 12:18] #1129 closed

[2019-02-12 12:44] slorber commented on #383
Only with you :)
It was actually simpler to eject instead of reimplementing intercom UI on web+rn for my project

[2019-02-12 14:17] EbrahimiM opened #1133 "support html code"
Hello  Sir,
Dose gifted chat support html code for display a message?
Best regards
Ebrahimi

[2019-02-12 14:19] shide1989 commented on #1079
Same issue using RN 0.57.5, GiftedChat 0.7.2

[2019-02-12 14:30] xcarpentier commented on #1079
Hi @shide1989
Can you copy the full warning stack trace here? Maybe I can figure out where is it...

[2019-02-12 14:47] MarcoLLeite commented on #1082
I also tried to wrap GiftedChat into a ScrollView, but I dont have control of the refresh section. And I assume I will have the same issue as @konclave.

At the moment I am just using the button, but I would rather not.
Anyone know a clear way to implement the pull to load more?

Thanks

[2019-02-12 14:50] karltaylor commented on #969
Sweet!

[2019-02-12 14:50] jsochurek commented on #1050
This worked great for me, thanks @nandiniparimi1107 !!

[2019-02-12 14:53] #994 closed

[2019-02-12 17:56] xvonabur commented on #465
1 year later and still no progress...

[2019-02-12 21:18] evertonco commented on #1082
Hey guys, have you tried use [onEndReach](https://facebook.github.io/react-native/docs/flatlist#onendreached) and [onEndReachedThreshold](https://facebook.github.io/react-native/docs/flatlist#onendreachedthreshold) props?

[2019-02-12 22:59] Faolain commented on #988
@yurykorzun were you able to get this working? If so can you please submit a PR?

[2019-02-12 23:22] MarcoLLeite commented on #1082
@evertonco I have tried with this:

[code]

But this didn't seem to work correctly, but it seems to trigger before getting to the end of the list, way before. I explain better:
I have about 100 messages loaded on initial load.
Without scrolling, I can see around 12-15 messages.
As soon as I start scrollig the OnEndReached action gets triggered.

I have also tried to wrap the Gifted chat around a S

[2019-02-13 01:46] anonrig commented on #687
why god why

[2019-02-13 07:44] #486 closed

[2019-02-13 08:38] gomac commented on #1132
Yesss, I can confirm that
textInputProps = {{
      onFocus: this.onFocusHandler ,
}}

works. Thank you, Gordon

[2019-02-13 13:13] shide1989 commented on #1079
I did some search and apparently this is isn't linked to GiftedChat.

The error speaks for itself, you cannot set a state on a unmounted component, which means that this i triggered when (for example in my case) i had firebase triggering a setState inside an unmounted component.

This happens when you have for example inside your chat component :
[code]
Whenever the component is **unmounted**, the

[2019-02-13 15:09] adriancuco opened #1134 "createAt not showing date/hours, and initial chat date"
#### Issue Description

When setting messages with proper createAt, when loaded first time, left side all messages at the beginning, I am able to see the chat date and other hours, by suddenly dates and times are vanished when moved owner messages to the right side.

Thanks a lot
Regards
#### Additional Information

* React Native version: 0.57 / 0.58
* react-native-gifted-chat version: 0.4.3 , 0.

[2019-02-14 01:07] greenkeeper[bot] opened #1136 "An in-range update of @types/react-native is breaking the build 🚨"
## The devDependency [@types/react-native](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `0.57.35` to `0.57.36`.

🚨 [View failing branch](https://github.com/FaridSafi/react-native-gifted-chat/compare/master...FaridSafi:greenkeeper%2F%40types%2Freact-native-0.57.36).

This version is **covered** by your **current version range** and after updating it in your project **the bui

[2019-02-14 11:19] adriancuco commented on #1134
I think the issue is when having same _id both msg and user. I set both by mistake with same value.
I will be confirming it later.
It's a little bit weird to use both _id  which might mislead, you know.

[2019-02-14 14:45] adriancuco commented on #1134
My fault. I found the issue.

Sorry for inconveniences ;)

Great job!!

Thx

[2019-02-14 14:45] #1134 closed

[2019-02-14 15:44] l-Legacy-l commented on #1067
I'm looking for the same feature, is there any solution to make it work ?

[2019-02-15 05:13] WebsitebuilderAU opened #1138 "Is there any way to customize message when there are server message."
#### Issue Description

Actually, I have three types message, sender, receiver and server message.
I want to show server message without any avatar image and full width, center align.
But I didn't get any customization in the library to handle three types of message, please let me know how I can manage this case.

#### Steps to Reproduce / Code Snippets
![chat](https://user-images.githubuserconten

[2019-02-15 08:19] #650 closed

[2019-02-15 09:36] Hanspagh commented on #358
I hadGiftedChat in a ViewPager, setting keyboardShouldPersistTaps fixed this

[2019-02-15 11:28] MarcoLLeite commented on #618
@leonyhenn That sounds like a good solution.
Do you know if that use of the state was fixed already?
What about the tick? I have been noticing some weird behaviour with it as well. I use the local state to store me my messages and call setState() to update the sent and received ticks, but they don't seem to reflect on the ui until I do some other action like dismiss the keyboard. Maybe this is als

[2019-02-15 13:31] varungupta85 commented on #687
I am assuming this is happening on iPhone X only. It has to do with the safe area view. You will need to reduce the top spacing above keyboard based on whether the keyboard is shown or not. I use my own fork due to which I can't share the exact changes.

[2019-02-15 14:39] anonrig commented on #687
I've fixed it on my end, but it should be fixed on the library itself. It's not sustainable to have a fork or overriding an existing class just to fix a problem.

[2019-02-15 19:30] AndresTIY opened #1139 "scrollToBottom isn't working as expected. Am I missing something?"
#### Issue Description

Expected Behavior: When keyboard is displayed, the latest messages should be displayed at the bottom of the chat container
<img width="324" alt="expected" src="https://user-images.githubusercontent.com/25064365/52879496-e3168b80-3124-11e9-9685-a61ea0f8a04c.png">

Actual Behavior: When keyboard is displayed, the keyboard covers the latest chat messages.

<img width="326" alt

[2019-02-16 12:03] Abhishekgarg727 commented on #611
@tangweikun  i know its  late but for any other user who having issue to show avatar on every chat message , i think this will help.

**Solution
So i use two props of gifted chat:**

[code]

**my code snippet**
[code]

hope this helps.

[2019-02-16 23:51] #814 closed

[2019-02-17 11:50] LG1710 opened #1141 "System Message only visible to a specific user"
#### Issue Description

I would like to know if this is possible to display System Message only for a particular user.
How can you do this ?...

#### Steps to Reproduce / Code Snippets

[FILL THIS OUT]

#### Expected Results

A warning message for example concerning only a particular user.

#### Additional Information

* Nodejs version: 10.13.0
* React version: 16.6.0-alpha.8af6728
* React Native

[2019-02-18 01:19] adilosa commented on #769
Still experiencing this issue. I've added a spinner underneath the `<GiftedChat>` component to smooth out the UX a bit, but the delay is still too long.

I also noticed the Chat screen with `<GiftedChat>` gets unmounted when navigating back to the main contacts list screen. Perhaps this issue could be mitigated by leaving the Chat screen mounted.

[2019-02-18 05:42] Abhishekgarg727 commented on #967
@yasso1am  giftedChat is just UI library it does not provide user initial support, however you can achieve same effect using this
API  `https://ui-avatars.com/api/?name=John+Doe`

read docs [here ](https://ui-avatars.com/)and it is open source .

[2019-02-18 20:52] AndresTIY commented on #1139
Found a work around!!!

`inverted` needs to be `true`

then reverse your messages, which in my case `currentChannel.reverse()`

and it's good! looks like if `inverted` is `false` then scrollToBottom doesn't work the way it should

[2019-02-18 20:52] #1139 closed

[2019-02-19 07:13] #1133 closed

[2019-02-19 10:42] SaiKiran322 commented on #875
@12343954  Can u please provide your code snippet for sending images in chat please!!!

[2019-02-19 11:12] 12343954 commented on #875
@loyoliteabid thank you very much ! your code seemed works well !

[2019-02-19 11:40] 12343954 commented on #875
@SaiKiran322 post images , use axios.post({}) or fetch(post) with 'Content-Type': 'multipart/form-data' and FormData

`
import ImagePicker from 'react-native-image-picker';
...
let postData = new FormData();

// k store a image {image, filename, type} after 'ImagePicker' select a image
postData.append(`file`, {
    uri: k.image,
    name: k.filename,
    type: mime.lookup(k.filename),
});

// cons

[2019-02-19 11:50] SaiKiran322 commented on #875
@12343954 im done with the back end part .i want to know how to load that images in gifted chat using that messageImage  function .

[2019-02-19 12:07] #981 closed

[2019-02-19 13:53] 12343954 commented on #875
@SaiKiran322
simple way is using the ’react-native-gifted-chat‘ example code
or using @loyoliteabid his code

[code]

[2019-02-19 13:55] #926 closed

[2019-02-19 13:55] #986 closed

[2019-02-19 13:55] #862 closed

[2019-02-19 13:55] #978 closed

[2019-02-19 13:55] #428 closed

[2019-02-19 13:55] #1002 closed

[2019-02-19 13:55] #1006 closed

[2019-02-19 13:55] #780 closed

[2019-02-19 13:55] #876 closed

[2019-02-19 13:55] #991 closed

[2019-02-19 13:55] #411 closed

[2019-02-19 13:56] #828 closed

[2019-02-19 13:56] #346 closed

[2019-02-19 13:56] #979 closed

[2019-02-19 13:56] #689 closed

[2019-02-19 13:56] #998 closed

[2019-02-19 13:56] #1017 closed

[2019-02-19 13:56] #1028 closed

[2019-02-19 13:56] #1009 closed

[2019-02-19 13:56] #1033 closed

[2019-02-19 13:56] #686 closed

[2019-02-19 13:56] #1026 closed

[2019-02-19 13:56] #900 closed

[2019-02-19 13:56] #854 closed

[2019-02-19 13:56] #968 closed

[2019-02-19 13:56] #1034 closed

[2019-02-19 13:56] #728 closed

[2019-02-19 13:56] #850 closed

[2019-02-19 14:55] #965 closed

[2019-02-19 14:55] #661 closed

[2019-02-19 14:55] #735 closed

[2019-02-19 14:55] #652 closed

[2019-02-19 14:55] #980 closed

[2019-02-19 14:55] #855 closed

[2019-02-19 14:55] #982 closed

[2019-02-19 14:55] #974 closed

[2019-02-19 14:55] #985 closed

[2019-02-19 14:55] #946 closed

[2019-02-19 14:55] #638 closed

[2019-02-19 14:55] #436 closed

[2019-02-19 14:55] #936 closed

[2019-02-19 14:55] #956 closed

[2019-02-19 14:55] #944 closed

[2019-02-19 14:55] #997 closed

[2019-02-19 14:55] #767 closed

[2019-02-19 15:55] #920 closed

[2019-02-19 15:55] #902 closed

[2019-02-19 15:55] #773 closed

[2019-02-19 15:55] #887 closed

[2019-02-19 15:55] #925 closed

[2019-02-19 15:55] #615 closed

[2019-02-19 15:55] #932 closed

[2019-02-19 15:55] #933 closed

[2019-02-19 15:55] #928 closed

[2019-02-19 15:55] #931 closed

[2019-02-19 15:55] #843 closed

[2019-02-19 15:55] #939 closed

[2019-02-19 15:55] #941 closed

[2019-02-19 15:55] #918 closed

[2019-02-19 15:55] #405 closed

[2019-02-19 15:55] #943 closed

[2019-02-19 15:55] #848 closed

[2019-02-19 15:55] #626 closed

[2019-02-19 15:55] #945 closed

[2019-02-19 15:55] #429 closed

[2019-02-19 15:55] #947 closed

[2019-02-19 15:55] #880 closed

[2019-02-19 15:55] #840 closed

[2019-02-19 15:55] #775 closed

[2019-02-19 15:55] #915 closed

[2019-02-19 15:55] #962 closed

[2019-02-19 15:55] #961 closed

[2019-02-19 15:55] #923 closed

[2019-02-19 15:55] #963 closed

[2019-02-19 16:55] #845 closed

[2019-02-19 16:55] #720 closed

[2019-02-19 16:55] #849 closed

[2019-02-19 16:55] #847 closed

[2019-02-19 16:55] #730 closed

[2019-02-19 16:55] #858 closed

[2019-02-19 16:55] #718 closed

[2019-02-19 16:55] #864 closed

[2019-02-19 16:55] #666 closed

[2019-02-19 16:55] #870 closed

[2019-02-19 16:55] #852 closed

[2019-02-19 16:55] #873 closed

[2019-02-19 16:55] #817 closed

[2019-02-19 16:55] #878 closed

[2019-02-19 16:55] #836 closed

[2019-02-19 16:55] #857 closed

[2019-02-19 16:55] #894 closed

[2019-02-19 16:55] #866 closed

[2019-02-19 16:55] #885 closed

[2019-02-19 16:55] #806 closed

[2019-02-19 16:55] #901 closed

[2019-02-19 16:55] #903 closed

[2019-02-19 16:55] #904 closed

[2019-02-19 16:55] #905 closed

[2019-02-19 16:55] #909 closed

[2019-02-19 16:55] #714 closed

[2019-02-19 16:55] #844 closed

[2019-02-19 17:55] #752 closed

[2019-02-19 17:55] #753 closed

[2019-02-19 17:55] #748 closed

[2019-02-19 17:55] #760 closed